<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>学生列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="javascript:;" onclick="studentManager.add(this)">新 增</a>
            <!--<button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>-->
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="words" class="search-input" value="{:I('get.words')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('lists')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">账号</th>
		<th class="">加入日期</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="lists">
		<volist name="lists" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
			<td>{$vo.id}</td>
			<td>{$vo.username}</td>
			<td>{$vo.stu_createTime}</td>
			<td>
				<a href="javascript:void(0);" class="confirm" onclick="studentManager.edit({$vo.id})">编辑</a>
				<a href="javascript:void(0);" class="confirm" onclick="studentManager.del({$vo.id})">删除</a>
             </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript">
	function studentManager(){ 
            var manager = new Object; 
            manager.box = null; 
            manager.del = function(id){ 
			   if(!confirm('确认删除？'))
			     return false;
			   url = "{:U('student/delstu')}";
               $.ajax({type:'GET',url:url,data:{id:id}, dataType: "json", success: function(data){
                   if(data.status == 1) {
					  layer.msg('删除成功', function(){
                          location.reload();
                      });
				  }else{
					  layer.msg(data.info, {
                         time: 2000
                      });
				  }
              }});
           }; 
		   manager.add = function(){ 
			  url = "{:U('student/getAddStudentTempletByAjax')}";
               $.ajax({type:'GET',url:url, success: function(str){
                   manager.box = layer.open({
					                type : 1,
                                    content: str,
									area   : ['600px'],
                  });
              }});
		   };
		   manager.edit = function(id){ 
			  url = "{:U('student/getEditStudentTempletByAjax')}";
               $.ajax({type:'GET',url:url,data:{id:id}, success: function(str){
                   manager.box = layer.open({
					                type : 1,
                                    content: str,
									area   : ['600px'],
                  });
              }});
		   };
           return manager; 
        } 
		
  var studentManager = studentManager();

	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
