<extend name="UserPublic:tpl"/>

<block name="title">17约课-消息</block>

<block name="css">
    <link rel="stylesheet" href="__PCCSS__/publish.css">
    <link rel="stylesheet" href="__PCCSS__/message.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</block>

<block name="main">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!--课程发布-->
        <include file="UserPublic:centerNav"/>

        <section class="content">
            <ul id="m-menu" class="m-menu clearfix fs16">
                <li class="active" id="group_assist"><span>心愿单</span></li>
                <li id="group_pushed"><span>为您推荐</span></li>
                <li id="group_comment"><span>评论</span></li>
            </ul>
            <div id="switcher" >
                <!--messages for wish list-->
                <div class="switch-helper" id="assist_hidden">
                    <div class="cmt-cont" id="assist_data">

                    </div>
                        <nav style="text-align:right;" id="assist_page_data">
                        
                        </nav>
                </div>
                <!--messages for course recommendation -->
                <div class="switch-helper hidden" id="pushed_hidden">
                    <div class="cmt-cont" id="pushed_data">


                    </div>


                        <nav style="text-align:right;" id="pushed_page_data">
                        
                        </nav>
                </div>

                <div class="ml40 mr20 switch-helper row hidden" id="comment_hidden">
                    <div id="cmt-wrapper" class="cmt-wrap comment_data">
                    
                        <div class="cmt-item">
                            <div class="cmt-cont">
                                <img src="__PCIMG__/2.png" alt="头像" class="stu-ava">

                                <div class="cmt-c-wrap">
                                    <p><span class="stu-name fs18 clightblue">栗山未来</span><span
                                            class="post-time cb6b6b6 fs12">12分钟前</span></p>

                                    <p class="fs16 lh1-5">
                                        一直想学英语，自己也学习了几个月，但是不懂技巧，也学习了几个月，但是不懂技巧也学习了几个月，但是不懂技巧学得很难，有时间希望找个老师能教学。<span
                                            class="cmt-reply clightblue">回复</span></p>
                                </div>
                            </div>
                            <div class="cmt-tool clearfix hidden">
                                <img src="__PCIMG__/avator.png" alt="机构头像" class="o-ava-s">

                                <div class="cmt-input-box">
                                    <input type="text" placeholder="回复@栗山未来:" class="fs16 cmt-input">
                                </div>
                                <button class="fs16 cmt-btn bglightblue">评论</button>
                            </div>
                            <div class="cmt-sub">
                                <img class="cmt-sub-i" src="__PCIMG__/banner.png" alt="课程"><span class="fs16 cmt-sub-t">新东方英语四级培训</span>
                            </div>
                        </div>

                    </div>
                    <nav style="text-align:right;" id="comment_page_data">
                    </nav>
                </div>
            </div>
        </section>

    </div>
    <!-- /.content-wrapper -->


</block>


<block name="js">
    <!-- AdminLTE App -->
    <script src="__PCJS__/app.min.js" type="text/javascript"></script>
    <script src="__PCJS__/all.js" type="text/javascript"></script>
    <script src="__PCJS__/message.js" type="text/javascript"></script>
    
    
<script id="tplpage" type="text/template">
                            <ul class="pagination">
				{@if page.curPage!=1}
                                <li><a href="javascript:;"  class="page"  index="1">首页</a></li>
                                <li>
                                    <a href="javascript:;" aria-label="Previous" class="page" index="${page.curPage-1}">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>
				{@/if}	
	{@each i in range(page.pageFirst, page.pageMax+1)}
                                <li index="${i}" class="page {@if i==page.curPage}active{@/if}"><a href="javascript:;">${i}</a></li>
	{@/each}
		{@if page.curPage!=page.pageAll}
                                <li>
                                    <a href="javascript:;" aria-label="Next" index="${parseInt(page.curPage)+1}" class="page">
                                        <span class="clightblue" aria-hidden="true">下一页</span>
                                    </a>
                                </li>
		{@/if}
                            </ul>
    
</script>


<script id="tplassist" type="text/template">
{@each info as it,index}
                        <div class="message-item">
                            <div class="message-title">
							<a href="{:U('User/Home')}?uid=${it.uid}">
                                <img src="${it.zkavatar}" alt="头像" class="message-ava">
							</a>
                                <span class="fs18 clightblue">${it.name}</span><span class="status-txt fs16">跟约了您的心愿单</span>
                                <span class="message-time cb6b6b6 fs12">${it.gactime}</span>
                            </div>
                            <div class="message-sub">
							<a href="{:U('User/onedetail')}?gid=${it.groupid}">
                                <img class="message-sub-i" src="${it.environ}" alt="课程"><span class="fs16 message-sub-t">${it.title}</span>
				            </a>                
							</div>
                        </div>
{@/each}
</script>

<script id="tplpushed" type="text/template">
{@each pushnews as it,index}
                        <div class="message-item">
                            <div class="message-title">
								<a href="{:U('shopkeeper/home')}?id=${it.sid}">
                                	<img src="${it.skavatar}" alt="头像" class="message-ava">
                                	<span class="fs18 clightblue">${it.nickname}</span>
								</a>
                                <span class="status-txt fs16"><img src="__PCIMG__/phone.png" alt="机构电话" class="status-phone">${it.phone_tel}</span>
                                <span class="message-time cb6b6b6 fs12">${it.gpctime}</span>
                            </div>
							<a href="{:U('shopkeeper/course')}?id=${it.sinfoid}">
                            	<div class="message-sub">
                                	<img class="message-sub-i" src="${it.environ}" alt="课程"><span class="fs16 message-sub-t">${it.title}</span>
                            	</div>
							</a>
                        </div>
{@/each}
</script>
    
<script id="tplcomment" type="text/template">
{@each info as it,index}
	{@if it.uid!=0}
                        <div class="cmt-item">
                            <div class="cmt-cont">
								<a href="{:U('User/Home')}?uid=${it.uid}">
                                	<img src="${it.comavatar}" alt="头像" class="stu-ava">
								</a>
                                <div class="cmt-c-wrap">
                                    <p class="comment_infos">
										<span class="stu-name fs18 clightblue">${it.name}</span>
					{@if it.depth!=0}
									<span style="color:#b6b6b6;">回复：</span>
						{@if it.answer_u_id!=0}
									<span style="color:#b6b6b6;">${it.answer_u_name}</span><span class="hidden">${it.answer_u_id}</span>
                    	{@else if it.answer_s_id!=0}
									<span style="color:#b6b6b6;">${it.answer_s_name}</span><span class="hidden">${it.answer_s_id}</span>
						{@else if it.answer_vi_id!=0}
									<span style="color:#b6b6b6;">${it.answer_vi_name}</span><span class="hidden">${it.answer_vi_id}</span>
                    	{@/if}
                    {@/if}			
                	<span  class="hidden now_com_id">${it.commentid}</span>
                	<span  class="hidden now_com_depth">${it.depth}</span>
										
										<span class="post-time cb6b6b6 fs12">${it.commentctime}</span>
									</p>
                                    <p class="fs16 lh1-5">
                                        ${it.c_info}
										<span class="cmt-reply clightblue">回复</span>
									</p>
                                </div>
                            </div>
                            <div class="cmt-tool clearfix hidden">
                                <img src="${it.comavatar}" alt="用户头像" class="o-ava-s">

                                <div class="cmt-input-box">
                                    <input type="text" placeholder="回复@栗山未来:" class="fs16 cmt-input">
                                </div>
                                <button class="fs16 cmt-btn bglightblue">评论</button>
                            </div>
							<a href="{:U('User/onedetail')}?gid=${it.commsid}">
                            	<div class="cmt-sub">
                                	<img class="cmt-sub-i" src="${it.environ}" alt="课程"><span class="fs16 cmt-sub-t">${it.title}</span>
                            	</div>
							</a>
                        </div>
	{@else if it.sid!=0}
                        <div class="cmt-item">
                            <div class="cmt-cont">
								<a href="{:U('Shopkeeper/Home')}?id=${it.sid}">
                                	<img src="${it.skavatar}" alt="商家头像" class="stu-ava">
								</a>
                                <div class="cmt-c-wrap">
                                    <p class="comment_infos">
										<span class="stu-name fs18 clightblue">${it.nickname}</span>
					{@if it.depth!=0}
									<span style="color:#b6b6b6;">回复：</span>
						{@if it.answer_u_id!=0}
									<span style="color:#b6b6b6;">${it.answer_u_name}</span><span class="hidden">${it.answer_u_id}</span>
                    	{@else if it.answer_s_id!=0}
									<span style="color:#b6b6b6;">${it.answer_s_name}</span><span class="hidden">${it.answer_s_id}</span>
						{@else if it.answer_vi_id!=0}
									<span style="color:#b6b6b6;">${it.answer_vi_name}</span><span class="hidden">${it.answer_vi_id}</span>
                    	{@/if}
                    {@/if}			
                	<span  class="hidden now_com_id">${it.commentid}</span>
                	<span  class="hidden now_com_depth">${it.depth}</span>
										
										<span class="post-time cb6b6b6 fs12">${it.commentctime}</span>
									</p>
                                    <p class="fs16 lh1-5">
                                        ${it.c_info}
										<span class="cmt-reply clightblue">回复</span>
									</p>
                                </div>
                            </div>
                            <div class="cmt-tool clearfix hidden">
                                <img src="${it.skavatar}" alt="商家头像" class="o-ava-s">

                                <div class="cmt-input-box">
                                    <input type="text" placeholder="回复@栗山未来:" class="fs16 cmt-input">
                                </div>
                                <button class="fs16 cmt-btn bglightblue">评论</button>
                            </div>
							<a href="{:U('User/onedetail')}?gid=${it.commsid}">
                            	<div class="cmt-sub">
                                	<img class="cmt-sub-i" src="${it.environ}" alt="课程"><span class="fs16 cmt-sub-t">${it.title}</span>
                            	</div>
							</a>
                        </div>
	{@else if it.visitor_id!=0}
                        <div class="cmt-item">
                            <div class="cmt-cont">
								<a href="{:U('User/Home')}?uid=0&vid=${it.visitor_id}">
                                	<img src="${it.visitor_avatar}" alt="约客头像" class="stu-ava">
								</a>
                                <div class="cmt-c-wrap">
                                    <p class="comment_infos">
										<span class="stu-name fs18 clightblue">${it.vitorname}</span>
					{@if it.depth!=0}
									<span style="color:#b6b6b6;">回复：</span>
						{@if it.answer_u_id!=0}
									<span style="color:#b6b6b6;">${it.answer_u_name}</span><span class="hidden">${it.answer_u_id}</span>
                    	{@else if it.answer_s_id!=0}
									<span style="color:#b6b6b6;">${it.answer_s_name}</span><span class="hidden">${it.answer_s_id}</span>
						{@else if it.answer_vi_id!=0}
									<span style="color:#b6b6b6;">${it.answer_vi_name}</span><span class="hidden">${it.answer_vi_id}</span>
                    	{@/if}
                    {@/if}			
                	<span  class="hidden now_com_id">${it.commentid}</span>
                	<span  class="hidden now_com_depth">${it.depth}</span>
										
										<span class="post-time cb6b6b6 fs12">${it.commentctime}</span>
									</p>
                                    <p class="fs16 lh1-5">
                                        ${it.c_info}
										<span class="cmt-reply clightblue">回复</span>
									</p>
                                </div>
                            </div>
                            <div class="cmt-tool clearfix hidden">
                                <img src="${it.visitor_avatar}" alt="约客头像" class="o-ava-s">

                                <div class="cmt-input-box">
                                    <input type="text" placeholder="回复@栗山未来:" class="fs16 cmt-input">
                                </div>
                                <button class="fs16 cmt-btn bglightblue">评论</button>
                            </div>
							<a href="{:U('User/onedetail')}?gid=${it.commsid}">
                            	<div class="cmt-sub">
                                	<img class="cmt-sub-i" src="${it.environ}" alt="课程"><span class="fs16 cmt-sub-t">${it.title}</span>
                            	</div>
							</a>
                        </div>
	{@/if}
{@/each}
</script>
    
    
    <script>

    var postnews_url = "{:U('Home/User/userAssist')}";
    var postcomment_url = "{:U('Home/User/userComment')}";
    var postpushed_url = "{:U('Api/GroupPushed/pushedByNews')}";

    var answer_p = 0; //回复的父类 
    var answer_d = 0; // 回复的父类深度 
    var delcomid = 0; // 删除的评论id 
    
    var assist_page = 0;
    var pushed_page = 0;
    var comment_page = 0;

    $('#group_assist').click(function(){
        ajaxflat={}
        ajaxflat.groupnews=true;
        $('#pushed_hidden').addClass('hidden');
        $('#comment_hidden').addClass('hidden');
        $('#assist_hidden').removeClass('hidden');
        pushed_page = 0;
        comment_page = 0;
        
        if(assist_page<1){
            $('#assist_data').html('');
        }
        postAssist();
    })
    
    $('#group_pushed').click(function(){
        ajaxflat={}
        ajaxflat.groupnews=true;
        $('#pushed_hidden').removeClass('hidden');
        $('#comment_hidden').addClass('hidden');
        $('#assist_hidden').addClass('hidden');
        assist_page = 0;
        comment_page = 0;
        
        if(pushed_page<1){
            $('#pushed_data').html('');
        }
        postPushed();
    })
    
    
    
    $('#group_comment').click(function(){
        ajaxflat={}
        ajaxflat.comment=true;
        $('#pushed_hidden').addClass('hidden');
        $('#comment_hidden').addClass('hidden');
        $('#assist_hidden').removeClass('hidden');
        assist_page = 0;
        pushed_page = 0;
        
        if(comment_page<1){
            $('.comment_data').html('');
        }
        postComment();
    })


    function postAssist(){
    	assist_page = assist_page + 1;
    	console.log(assist_page);
        $.post(postnews_url,{"page":assist_page},function(data){
            console.log(data);

            var tpl = document.getElementById('tplassist').innerHTML;
            var html = juicer(tpl, data);
            $("#assist_data").html(html);
            
            var tplpage = document.getElementById('tplpage').innerHTML;
            var htmlpage = juicer(tplpage, data);
            $("#assist_page_data").html(htmlpage);
            
            imgonerror();
        }, "json");
    }
    postAssist();
    $("#assist_page_data").on("click",".page",function(e){
    	assist_page = $(e.currentTarget).attr("index") -1;
    	postAssist();
    });
    
    
    
    function postComment(){
    	comment_page = comment_page+1;
        var newscomment=$.post(postcomment_url,{"page":comment_page},function(data){
            console.log(data);
            
            var tpl = document.getElementById('tplcomment').innerHTML;
            var html = juicer(tpl, data);
            $(".comment_data").html(html);

            var tplpage = document.getElementById('tplpage').innerHTML;
            var htmlpage = juicer(tplpage, data);
            $("#comment_page_data").html(htmlpage);
            
            imgonerror();
        }, "json");
    }
    $("#comment_page_data").on("click",".page",function(e){
    	comment_page = $(e.currentTarget).attr("index") -1;
    	postComment();
    });
    
    
    
    
    
    function postPushed(){
        pushed_page = pushed_page + 1;
        var newspush=$.get(postpushed_url,{"page":pushed_page},function(data){
            console.log(data);
        	
            var tpl = document.getElementById('tplpushed').innerHTML;
            var html = juicer(tpl, data.pushnews);
            $("#pushed_data").html(html);


            var tplpage = document.getElementById('tplpage').innerHTML;
            var htmlpage = juicer(tplpage, data.pushnews);
            $("#pushed_page_data").html(htmlpage);
            
            imgonerror();
            
        }, "json");
    }
    $("#pushed_page_data").on("click",".page",function(e){
    	pushed_page = $(e.currentTarget).attr("index") -1;
    	postPushed();
    });
    
    
    
    
    
    
    
    //回复。我已经崩溃了，这么复杂的选择器，哎呀
    $("#cmt-wrapper").on('click','.cmt-reply',function(){


    	var subCmtBox = $(this).parents().find('.cmt-c-wrap  .comment_infos');

    	
    	var commentName = subCmtBox.find('.clightblue').html();
    	answer_p = subCmtBox.find('.now_com_id').html();
    	answer_d = subCmtBox.find('.now_com_depth').html();
    	
    	$(this).parents().find('.cmt-cont').next().find('.cmt-tool input').attr('placeholder', '回复：'+commentName);

        console.log(commentName);
        console.log(answer_p);
        console.log(answer_d);
    });
    
    
    
    
    
    
    
    
    </script>
    
</block>
