<include file="Public:header" />
<div id="content">

	
	<div class="container">
		
		<div class="row">
			

			<include file="Public:nav" />
			
			
                    
                    		<div class="span9">
				<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>
					反馈意见 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</h3>
					<p class="pull-right">反馈数量:<b>{$count}</b>  </p>
					</div> <!-- /widget-header -->
	

                   <!--  <div class="widget-content"> -->

                        <table class="table table-striped table-bordered">
                            <thead>

                            <tr>
                                <th>ID</th>
                                <th>商家头像</th>
                                <th>商家昵称</th>
                                <th>反馈内容</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>

                            </thead>

                            <tbody>
                               <volist name='data' id='vo'>
                                   <tr>
                                       <td>{$vo.id}</td>
                                       <td><img src="__UPLOAD__/{$vo.avatar}" alt=""></td>
                                       <td>{$vo.nickname}</td>
                                       <td>{$vo.content}</td>
                                       <td>{$vo.ctime}</td>
                                       <td>
                                           <a href="{:U('Shopkeeper/detail', array('sid' => $vo['id'], 't' => time()))}" class="btn btn-info btn-small">查看详细资料</a>
                                       </td>
                                   </tr>
                              </volist>
                            </tbody>
                        </table>

                   <!--  </div> /widget-content -->

                   	<!-- 分页 -->	

                    {$page}

                </div> <!-- /widget -->

            </div> <!-- /span10 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /content -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">详细信息</h3>
            </div>
            <div class="modal-body">
                <p>姓名:<span id = "modal_name"></span></p>
                <p>手机:<span id ="modal_phone"></span></p>
                <p>固话:<span id ="modal_tel"></span></p>
                <p>邮箱:<span id ="modal_email"></span></p>
                <p>地址:<span id ="modal_address"></span></p>
                <p>价格:<span id ="modal_price"></span></p>
            </div>
        </div>
    </div>
</div> -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="__AJS__/jquery-1.7.2.min.js"></script>
<script src="__AJS__/excanvas.min.js"></script>
<script src="__AJS__/jquery.flot.js"></script>
<script src="__AJS__/jquery.flot.pie.js"></script>
<script src="__AJS__/jquery.flot.orderBars.js"></script>
<script src="__AJS__/jquery.flot.resize.js"></script>
<script src="__AJS__/delete.js"></script>
<script src="__AJS__/bootstrap.js"></script>
<script src="__AJS__/charts/bar.js"></script>
<include file="Public:footer" />
