<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table class="table table-bordered table-striped">
						<thead>
							<tr>
							
								<th width="5%">
									序号
								</th>
								<th width="15%">
									分类名称
								</th>
								<th width="45%"> 
									描述信息
								</th>
								<th width="20%"> 
									LOGO
								</th>
								<th width="10%">
									操作
								</th>
							</tr>
						</thead>
						<tbody>
						 
						
							
							<tr>
							
								<td>
								
									
								</td>
								<td>						
							
								</td>
								<td>
								{$data.time|transDate}
								</td>
									<td>
								<img id="thumb" src="__HUP__{$vo.thumb_logo}"/>
								</td>
								<td>

								
								</td>
							</tr>
							
					
							
						</tbody>
					</table>	
</body>
</html>