<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>联系我们 - 17约课</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
	<meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
	<meta name="Resource-type" content="Document" />
	<link rel="stylesheet" type="text/css" href="__PCCSS__/common.css" />	
	<link rel="stylesheet" type="text/css" href="__PCCSS__/page-other.css" />
    <!--[if lt IE 8]>
    <div class="ltie8hint">
        <p>很抱歉，您使用的浏览器版本过低，将为您的使用带来不便。请更换或升级为IE8以上、Chrome、Firefox、Safari进行浏览。
            <a href="#" onclick="javascript:this.parentNode.parentNode.style.display='none';">取消</a></p>
    </div>
    <![endif]-->
</head>
<body>

	<!-- navigator -->
	<include file="Public:nav" />
	
	<!-- main container -->
	<div class="container w1000 bc">
		<div class="section clearfix">
			<div class="about-album bs-flat5px"><img src="__PCIMG__/c_album.png" alt="我们的团队"></div>
			<div class="about-intro bs-flat5px fs16 lh2">
				<p>广州乐莘网络科技有限公司成立于2014年11月，旗下教育平台17约课是华南地区首家以组团砍价为商业模式的培训课程信息发布平台。致力于为学生用户提供优质的教育培训课程选择。</p>
				<p>我们产品核心功能理念：组团报班更实惠、保质维权全具备，约伴上班成双对,为用户提供优质的培训课程选择，为教育培训机构提供精准的市场推广在乐莘网络全体同仁的不断努力打拼下被评为广东省大学生优秀创业项目。</p>
			</div>
		</div>
		<div class="section clearfix">
			<div class="c-help bs-flat5px">
				<h1>站内求助 &amp; 投诉举报</h1>
				<div class="c-cont">
					<p>服务热线：020-28107517</p>
					<p>产品经理：18825175411</p>
					<p>CEO邮箱：455295000@qq.com</p>
					<p>官微留言：请搜“17约课”</p>
					<p class="smaller fwb">欢迎向我们提交任何网站的问题和意见建议</p>
				</div>
			</div>
			<div class="c-service bs-flat5px">
				<h1>增值服务</h1>
				<div class="c-cont">
					<p>服务热线：020-28107517</p>
					<p>销售经理：18826480831</p>
					<p><a href="#">《增值服务报价表》下载</a></p>
				</div>
			</div>
			<div class="c-agency bs-flat5px">
				<h1>机构加盟</h1>
				<div class="c-cont">
					<p>服务热线：020-28107517</p>
					<p>市场经理：13580320658</p>
					<p><a href="#">《产品使用介绍》下载</a></p>
				</div>
			</div>
		</div>
		<div class="section bs-flat5px">
			<div class="c-service-station">
				<h1>17约课服务站</h1>
				<div class="c-cont">
					<p>广州服务站：广州市天河区长福路198号凡尔赛文体中心内</p>
					<p>北京服务站：筹备中，即将开放</p>
					<p>上海服务站：筹备中，即将开放</p>
				</div>
			</div>
		</div>
        <include file="Public:hotline" />
	</div>
	<!-- footer -->
    <div class="footer">
    	<div class="footer-wrap clearfix">
			
			<include file="Public:footer" />
			
		</div>
	</div>
	
	<!-- handsome login box -->
	<include file="Public:login" />
	
	<script >
		var handleLogin_url = "{:U('Api/Shopkeeper/handleLogin')}";
        var activeI = 2;
	</script>
	<script type="text/javascript" src="__PCJS__/jquery.min.js"></script>
	<script type="text/javascript" src="__PCJS__/common.js"></script>
	<script type="text/javascript" src="__PCJS__/page.js"></script>
</body>
</html>