<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>首页 - 17约课</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="360-site-verification" content="642f6d01d412136f881b6203f0fa4808" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
	<meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
	<meta name="Resource-type" content="Document" />
	<link rel="stylesheet" type="text/css" href="__PCCSS__/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="__PCCSS__/common.css" />	
	<link rel="stylesheet" type="text/css" href="__PCCSS__/page-index.css" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?641d884caa630fba65723a697348fe74";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--[if lt IE 8]>
    <div class="ltie8hint">
        <p>很抱歉，您使用的浏览器版本过低，将为您的使用带来不便。请更换或升级为IE8以上、Chrome、Firefox、Safari进行浏览。
        <a href="#" onclick="javascript:this.parentNode.parentNode.style.display='none';">取消</a></p>
    </div>
    <![endif]-->
</head>
<body>

	<!-- navigator -->
	<include file="Public:nav" />
	
	<!-- show stage -->
	<div id="fullpage">
	    <div class="section">
            <div class="cont-wrap">
                <img id="barcode-1" src="__PCIMG__/1_barcode.png" alt="二维码">
                <img id="text-1" src="__PCIMG__/1_text_2.png" alt="垂直于移动互联网 教育培训信息发布平台">
                <img id="mascot-1" src="__PCIMG__/2_mascot.png" alt="吉祥物">
                <img id="phone-1" src="__PCIMG__/1_phone.png" alt="客户端">
            </div>
	    </div>
	    <div class="section">
	    	<div class="cont-wrap">
	    		<img id="text-2" class="hidden" src="__PCIMG__/2_text.png" alt="寻找您身边的优质课">
	    		<img id="map-2" class="hidden" src="__PCIMG__/2_map.png" alt="地图">
	    		<img id="mascot-2" class="hidden" src="__PCIMG__/2_mascot.png" alt="吉祥物">
	    	</div>
	    </div>
	    <div class="section">
	    	<div class="cont-wrap">
	    		<img id="text-3" class="hidden" src="__PCIMG__/3_text.png" alt="组团报班更实惠">
	    		<img id="phone-3" class="hidden" src="__PCIMG__/3_phone.png" alt="客户端">
	    		<img id="mascot-3" class="hidden" src="__PCIMG__/3_mascot.png" alt="吉祥物">
	    	</div>
	    </div>
	    <div class="section">
	    	<div class="cont-wrap">
	    		<img id="text-4" class="hidden" src="__PCIMG__/4_text.png" alt="保质维权全具备">
	    		<img id="phone-4" class="hidden" src="__PCIMG__/4_phone.png" alt="客户端">
	    		<img id="mascot-4" class="hidden" src="__PCIMG__/4_mascot.png" alt="吉祥物">
	    	</div>
	    </div>
	    <div class="section">
	    	<div class="cont-wrap">
		    	<img id="text-5" class="hidden" src="__PCIMG__/5_text.png" alt="约伴上课成双对">
	    		<img id="phone-5" class="hidden" src="__PCIMG__/5_phone.png" alt="客户端">
	    		<img id="mascot-5" class="hidden" src="__PCIMG__/5_mascot.png" alt="吉祥物">
		    </div>
		    <!-- our footer is here -->
		    <div class="footer pabsolute">
		    	<div class="footer-wrap clearfix">
		    	
					<include file="Public:footer" />
					
	    		</div>
	    	</div>	
	    </div>
	</div>
	<!-- handsome login box -->
	<include file="Public:login" />
	
	<script >
		var handleLogin_url = "{:U('Api/Shopkeeper/handleLogin')}";
	</script>
	<script type="text/javascript" src="__PCJS__/jquery.min.js"></script>
	<script type="text/javascript" src="__PCJS__/jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="__PCJS__/common.js"></script>
	<script type="text/javascript" src="__PCJS__/page.js"></script>
	
</body>
</html>
