<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>加入我们 - 17约课</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
	<meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
	<meta name="Resource-type" content="Document" />
	<link rel="stylesheet" type="text/css" href="__PCCSS__/common.css" />	
	<link rel="stylesheet" type="text/css" href="__PCCSS__/page-other.css" />
    <!--[if lt IE 8]>
    <div class="ltie8hint">
        <p>很抱歉，您使用的浏览器版本过低，将为您的使用带来不便。请更换或升级为IE8以上、Chrome、Firefox、Safari进行浏览。
            <a href="#" onclick="javascript:this.parentNode.parentNode.style.display='none';">取消</a></p>
    </div>
    <![endif]-->
</head>
<body>
	<!-- navigator -->
	<include file="Public:nav" />
	
	<div class="container w1000 bc clearfix">
		<!-- left -->
		<div class="main">
			<div class="j-jumbotron bs-flat5px">
				<div class="j-wrap clearfix">
					<img class="j-logo" src="__PCIMG__/j_logo.png" alt="17约课">
					<div class="j-main">
						<h1>17约课求新伙伴，携手为同学们创造更 好的教育培训环境！</h1>
						<p>17约课|广州乐莘网络科技有限公司</p>
					</div>
				</div>
				<p class="j-tip">17约课正在招聘<span>8</span>个职位</p>
			</div>
			<div class="recruitments bs-flat5px">
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">销售合伙人</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 8k-10k / 1-3年 / 学历不限</p>
				</div>
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">市场合伙人</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 8k-10k / 1-3年 / 学历不限</p>
				</div>
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">新媒体首席运营官</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 6k-10k / 1-3年 / 学历不限</p>
				</div>
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">技术合伙人</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 10k-15k / 1-3年 / 学历不限</p>
				</div>
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">求PHP大哥带飞</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 6k-12k / 1-3年 / 学历不限</p>
				</div>
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">诚聘web前端</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 5k-8k / 1-3年 / 学历不限</p>
				</div>
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">地推实习生</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 2k-3k / 1-3年 / 学历不限</p>
				</div>
				<div class="re-item">
					<div class="re-main clearfix">
						<h2 class="re-position"><a href="occupation.html">校园大使</a></h2>
						<p class="re-location">[广州]</p>
						<p class="re-postdate">2015-05-20</p>
					</div>
					<p class="re-other">全职 / 2k-3k / 1-3年 / 学历不限</p>
				</div>
			</div>
		</div>
		<!-- right side -->
		<div class="sidebar">
			<table class="s-table bs-flat5px">
				<caption>公司简介信息</caption>
				<tbody>
					<tr class="clearfix">
						<th>地点</th>
						<td>广州</td>
					</tr>
					<tr class="clearfix">
						<th>领域</th>
						<td>O2O 教育</td>
					</tr>
					<tr class="clearfix">
						<th>规模</th>
						<td>少于15人</td>
					</tr>
					<tr class="clearfix">
						<th>主页</th>
						<td>17yueke.cn</td>
					</tr>
				</tbody>	
			</table>
			<div class="s-item bs-flat5px">
				<h3 class="s-i-title">融资阶段</h3>
				<div class="s-i-cont">
					<p class="lh2 c999">目前阶段：天使轮</p>
					<p class="lh2 c999">目前阶段：英诺天使</p>
				</div>
			</div>
			<div class="s-item bs-flat5px">
				<h3 class="s-i-title">工作地址</h3>
				<div class="s-i-cont">
					<p class="lh2 c999">广州市天河区长福路198号凡尔赛文体中心内</p>
				</div>
			</div>
			<div class="s-item bs-flat5px">
				<h3 class="s-i-title">团队介绍</h3>
				<div class="s-i-cont">
					<div class="intro">
						<img src="__PCIMG__/ceo_avatar.png" alt="纪德财">
						<div class="intro-text">
							<p class="intro-t-name">纪德财</p>
							<p class="intro-t-poss">CEO</p>
						</div>	
					</div>
					<p class="lh1-5 fs12">2011年任广州人艺教育培训机构素描教师</p>
					<p class="lh1-5 fs12">2012年与于广东惠州创办传道美术教育培训机构</p>
					<p class="lh1-5 fs12">2013年担任华农黑天工作室第九代负责人</p>
					<p class="lh1-5 fs12">2013年获得oneshow国际创意竞赛平面类金奖，互动营销类金奖</p>
					<p class="lh1-5 fs12">2014年成立乐莘网络科技有限公司</p>
					<p class="lh1-5 fs12">想说的话：互联网时代是个只认第一不认第二的时代。乐莘网络从O2O教育领域出发，立志于未来做全国最强最大O2O教育平台。远大的目标需要志同道合的兄弟姐妹们共同实现，来吧，各个领域的大牛们，来和我们一起改变教育行业，一起改变世界吧</p>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
    <div class="footer">
    	<div class="footer-wrap clearfix">
    	
			<include file="Public:footer" />
			
		</div>
	</div>
	
	<!-- handsome login box -->
	<include file="Public:login" />
	
	<script >
		var handleLogin_url = "{:U('Api/Shopkeeper/handleLogin')}";
        var activeI = 3;
	</script>
	<script type="text/javascript" src="__PCJS__/jquery.min.js"></script>
	<script type="text/javascript" src="__PCJS__/common.js"></script>
	<script type="text/javascript" src="__PCJS__/page.js"></script>
</body>
</html>