<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>销售合伙人 - 17约课</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
	<meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
	<meta name="Resource-type" content="Document" />
	<link rel="stylesheet" type="text/css" href="__PCCSS__/common.css" />	
	<link rel="stylesheet" type="text/css" href="__PCCSS__/page-other.css" />
    <!--[if lt IE 8]>
    <div class="ltie8hint">
        <p>很抱歉，您使用的浏览器版本过低，将为您的使用带来不便。请更换或升级为IE8以上、Chrome、Firefox、Safari进行浏览。
            <a href="#" onclick="javascript:this.parentNode.parentNode.style.display='none';">取消</a></p>
    </div>
    <![endif]-->
</head>
<body>
	<!-- very big object here-->
	<div class="o-jumbotron">
		<h1>加入17约课</h1>
	</div>
	<!-- occupation paper -->
	<div class="paper bs-flat5px">
		<div class="brief c777">
			<div class="b-title clearfix">
				<h2>销售合伙人</h2>
				<p class="fs20 c999">[广州]</p>
			</div>
			<ul class="b-tags fs20 clearfix">
				<li class="red-tag">8k-10k</li>
				<li>广州</li>
				<li>经验1-3年</li>
				<li>学历不限</li>
				<li>全职</li>
			</ul>
			<p class="temptation fs20">职位诱惑: 5%-10%的原始股权1元给予，风口猪</p>
		</div>
		<div class="detail c777">
			<div class="infobox">
				<h3>职位描述：</h3>
				<ol>
					<li>销售管理职位，负责销售团队年度主要目标和计划；</li>
					<li>制定、参与或协助上层执行相关的政策和制度；</li>
					<li>负责部门的日常管理工作及部门员工的管理、指导、培训及评估；</li>
					<li>负责组织的销售运作，包括计划、组织、进度控制和检讨；</li>
					<li>协助上级设置销售目标、销售模式、销售战略、销售预算和奖励计划；</li>
					<li>建立和管理销售队伍，完成销售目标；</li>
					<li>从销售和客户需求的角度，对产品的研发提供指导性建议。</li>
				</ol>
			</div>
			<div class="infobox">
				<h3>任职资格：</h3>
				<ol>
					<li>大专及以上学历，市场营销等相关专业；</li>
					<li>5年以上销售行业工作经验，3年以上销售管理经验，有数字化营销行业背景优先考虑；</li>
					<li>良好的网络营销渠道销售工作背景（新东方、雅思等教育机构背景尤佳），具备一定的客户基础；</li>
					<li>具备较强的市场分析、营销、推广能力和良好的人际沟通、协调能力，分析和解决问题的能力；</li>
					<li>有较强的事业心，具备良好的的职业素养、优秀的团队管理能力和领导能力。</li>
				</ol>
			</div>
			<div class="infobox">
				<h3>福利待遇：</h3>
				<p>5%原始股权+绩效期权+基本工资+五险</p>
			</div>
			<div class="infobox">
				<h3>简历投放：</h3>
				<p>HR邮箱 HR@17yueke.cn</p>
				<p>CEO邮箱 455295000@qq.com</p>
			</div>
		</div>
	</div>
	<!-- footer -->
    <div class="footer">
    	<div class="footer-wrap clearfix">
    	
			<include file="Public:footer" />
	
		</div>
	</div>
	
</body>
</html>