.register_wrap{
    width: 100%;
    height: 29.5em;
    background:  -webkit-linear-gradient(#458dff, #4ec1fe);
    position: relative;
    margin-bottom: 1em;
}
.register_title{
    width: 43%;
    display: block;
    margin: 0 auto;
    padding-top: 2.5em;
}
.first_height{
    height: 70em!important;
    margin-bottom: 0px !important;
}
.second_height{
    height: 40em !important;
    margin-bottom: 0px !important;
}
.register_second_back{
    position: relative;
    top:2.5em;
    width: 40%;
    font-size: 1.2em;
    left: 5%;color: #ffffff;
    margin-bottom: 3.5em;
}
.register_second_back img{
    position: relative;
    top:-0.1em;
    height: 1.1em;
    width: 1.1em;
    margin-right: 0.3em;
}
.input_wrap{
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 3em;
    background: #fff;
    margin-bottom: 1.5em;
    padding: 5px 0px 0px 5px;
}
.register_submit{
    width: 90%;
    height: 3em;
    margin: 0 auto;display: block;
    border: 1px solid #1D80CF;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #80C3F7;
    background: -webkit-gradient(linear,left top,left bottom,from(#80c3f7),to(#6bbaf8));
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
    border-radius: 5px;
    cursor: pointer;
    line-height: 33px;
    padding: 0 15px;
    outline: 0;
    
}
.register_submit_second{
    width: 90%;
    height: 3em;
    margin: 0 auto;display: block;
    border: 1px solid #1D80CF;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #80C3F7;
    background: -webkit-gradient(linear,left top,left bottom,from(#54e3a1),to(#2ecca9));
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
    border-radius: 5px;
    cursor: pointer;
    line-height: 33px;
    padding: 0 15px;
    outline: 0;

}
.sign-button-white {
    width: 90%;
    height: 3em;
    margin: 0 auto;display: block;
    border: 1px solid #1D80CF;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #80C3F7;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
    border-radius: 5px;
    cursor: pointer;
    line-height: 33px;
    padding: 0 15px;
    outline: 0;
    color: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f5f7), to(#e0e4e7));

}
.register_input{
    background: transparent;
    padding-left: 0.5em;
    padding-right: 1em;
    color: #999;
    font-size: 14px;
    width: 99%;
    height: 90%;
    line-height: 1em;
    border: 0px;
    text-transform: none;
    -webkit-appearance: none;
    outline-style: none;
    text-shadow: none;
    outline: none;
}

/*商家*/
.e_first_register{

}
.e_register_second_title{
    margin-top: 2.5em;
    font-size: 1.2em;
    margin-bottom: 1.2em;
}
.e_first_register_path{
    position: relative;
    font-size: 1em;

}
.e_first_register_chip{
    font-size: 0.8em;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}
.e_register_line{
    width: 1px;
    height: 1em;
    background-color: #ffffff;
    position: relative;
    top: -0.2em;
    left: 7%;
}
.e_first_register_path img{
    position: relative;
    top: -0.2em;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
}
.e_first_register p{
    padding-left: 5%;
    color: #ffffff;
}
.e_first_phone{
    margin-left: 5%;
    width: 30%;
    display: inline-block;
}

.e_second_phone{
    width: 48%;
    display: inline-block;
}
.e_second_phone-link{
    width: 10%;
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
    text-align: center;
}
.e_register_end{
    margin-top: 2em;
}
.text_margin{
    margin-left: 5%;
}
.back_to_email{
    margin-bottom: 2em;
}
.back_to_email img{
    width: 1.1em;
    height: 1.1em;
    position: relative;
    top:-0.2em;
    margin-right: 0.5em;
}
.send_email{
    font-size: 0.9em;
}
.regiser_end_line{
    width: 90%;
    border-bottom: solid 1px #ffffff;
    margin-left: 5%;
    opacity: 0.5;
    margin-bottom: 2em;
}
/*用户*/
.u_first_name{
    margin-left: 5%;
    width: 40%;
    display: inline-block;
}

.u_second_name{
    width: 40%;
    margin-left: 9.2%;
    display: inline-block;
}
.user_register_nav{
    margin-top: 2.5em;
    width: 90%;
    margin-left: 5%;
    position: relative;
    height: 2em;
    margin-bottom: 0.8em;
}
.user_register_nav_left{
    padding-left: 0px !important;
    position: absolute;
    font-size: 1.2em;
    left: 0px;
    top: 0px;
}
.user_register_nav_left img{
    position: relative;
    width: 1.2em;
    height: 1.2em;
    top: -0.1em;
    margin-right: 0.3em;
}
.user_register_nav_right{
    font-size: 1.2em;
    position: absolute;
    right: 0px;
    top: 0px;
}
.user_register_nav a{
    color: #ffffff;
}
.user_register_nav_right img{
    top: -0.1em;
    position: relative;
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.3em;
}
.u_social_account{
    width: 80%;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center;
    font-size: 1.2em;
}
.u_social_account img{
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: -0.1em;
    margin-left: 1em;
}

.u_register_err{
    background-color: #3799d8;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    display: block;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    margin-bottom:15px;
    text-shadow: 0 1px 1px rgba(0,0,0,.15);
    background: rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.15);
}
.register_err_image{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    position: relative;
    top: -0.1em;
}
.user_login_footer{
    top: 0px;
    margin-top: 0.5em;
    width: 90%;
    margin-left: 5%;
    position: relative;
    height: 2em;
    margin-bottom: 0.8em;
}
.remember_me{
    background-color: white;
    border: solid 1px #ffffff;
}
.login_register_footer{
    width: 90%!important;
    margin-left: 5% !important;
    
}
.login_register_footer_img{
    margin-left: 0.4em !important;
}
.login_register_footer a{
    color: #ffffff !important;
}
.login_margin_0{
    margin-left: 0px !important;
    left: -0.2em;
}
/*认证*/
.identify_title{
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2em;
    padding-top: 0.6em;
}
.identify_back{
    font-size: 1.1em;
    position: absolute;
    left: 0.5em;
    top: 1.1em;
    color: #ffffff;
}
.identify_back img{
    width: 0.5em;
    margin-right: 0.3em;
    padding-bottom: 0.3em;
}
.identify_to_index{
    font-size: 1.1em;
    position: absolute;
    right: 0.5em;
    top: 1em;
    color: #ffffff;
}
.identify_btn{
    display: block;
    width: 100%;
    height: 4em;
    line-height: 4em;
    background-color: #ffffff;
    border-bottom: solid 1px #cacaca;
    position: relative;
    color: #666666;
}
.identify_btn_first{
    display: block;
    width: 100%;
    height: 4em;
    line-height: 4em;
    background-color: #ffffff;
    border-bottom: solid 1px #dedede;
    border-top: solid 1px #cacaca;
    margin-top: 1em;color: #666666;
    position: relative;
}
.identify_btn_title{
    margin-left: 0.5em;
}
.identify_btn_info{
    position: absolute;
    right: 5%;
    top:0px;
    color: #d4d4d4;
}
.identify_btn_info img{
    width: 0.5em;
    padding-bottom: 0.28em;
    margin-left: 0.5em;
}
.identify_btn_icon{
    position: absolute;
    right: 3%;
}
.identify_second_wrap{
    padding: 0.8em 1.2em 1.2em 1.5em;
    margin-left: 2%;
    background-color: #ffffff;
    border-radius: 5px;
    width: 96%;
    margin-top: 0.8em;
    box-shadow: 0px 1px 2px #cacaca;}
.identify_second_wrap h3{
    font-size: 1.2em;
    color: #666666;
}
.identify_second_wrap p{
    color: #8d8d8d;
}
.identify_time{
    color: #b2b2b2;
    margin-top: 1em;
    margin-left: 8%;
}
.bigV_btn_wrap{
    width: 90%;
    margin-left: 5%;
    margin-top: 5em;
}
.bigV-btn_first{
    margin-right: 3%;
    width: 48%;
    display: inline-block;
    text-align: center;
    background: -webkit-linear-gradient(#54e3a1, #2ecca9);
    border-radius: 5px;
    color: #ffffff;
    height: 2.6em;
    line-height: 2.6em;
}
.bigV-btn_first:active{
    color: blue;
}
.bigV-btn_second{
    width: 48%;
    display: inline-block;
    text-align: center;
    background-color: #4498ff;
    border-radius: 5px;
    color: #ffffff;
    height: 2.6em;
    line-height: 2.6em;
}
.identify_file{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    display: block;
    width: 40%;
}
.identify_file_p{
    width: 100%;
    text-align: center;
    margin-top: 4em;
    color: #a5a5a5;
}
.identify_file_p span{
    color: #8a8a8a;
}
.identify_file_btn{
    margin-left: 15%;
    width: 70%;
    display: inline-block;
    text-align: center;
    background: -webkit-linear-gradient(#54e3a1, #2ecca9);
    border-radius: 5px;
    color: #ffffff;
    height: 2.6em;
    margin-top: 5em;
    line-height: 2.6em;
}
.identify_input{
    opacity: 0.5;
    position: absolute;
    left: -500px;
}
.identify_phone_wrap{
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 2em;
    border-bottom: solid 1px #cacaca;
    padding-top: 2em;
    padding-left: 1.5em;
    position: relative;
}
.phone_identify_border{
    border: solid 1px #cacaca;
    display: inline-block;
    width: 70% !important;
}
.phone_identify_label{
    display: inline-block;
    color: #666666;
    width: 4em;
    margin-right: 1em;
    text-align: right;
}
.phone_identify_btn{
    margin-left: 5.25em; !important;
    width: 35% !important;
    height: 3em;
    line-height: 3em;
}
.phone_identify_tip{
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 8.5em;
    color: #aaaaaa;
    font-size: 0.8em;
}
.phone_identify_tip span{
    color: #41da75;
}
/*发布课程*/
.course_success_wrap{
    background-color: #ffffff;
    border-bottom: solid 1px #c4c4c4;
    border-top: solid 1px #c4c4c4;
    padding-bottom: 2em;
    margin-top: 0.8em;
}
.course_success_wrap_p{
    margin-top: 2.4em;
    text-align: center;
    font-size: 1.5em;
    color: #666666;
}
.course_success_wrap_p img{
    position: relative;
    top: -0.2em;
    width: 1.2em;
    height: 1em;
    margin-right: 0.3em;
}
.course_feature_wrap{
    background-color: #ffffff;
    border-bottom: solid 1px #c4c4c4;
    border-top: solid 1px #c4c4c4;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 22.8em;
}
.course_feature_input{
    position: relative;
    left: 5%;
    border: solid 1px #999999;
    width: 65% !important;
    display: inline-block;
    height: 2.5em;
}
.course_feature_btn{
    width: 20%;
    height: 2.3em;
    position: relative;
    left: 10%;
    display: inline-block;
    border: 1px solid #1D80CF;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background: #80C3F7;
    background: -webkit-gradient(linear,left top,left bottom,from(#80c3f7),to(#6bbaf8));
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
    border-radius: 5px;
    cursor: pointer;
    line-height: 33px;
    padding: 0 15px;
    outline: 0;
}
.course_feature_select_p{
    margin-left: 5%;
    color: #999999;
    margin-bottom: 0.8em;
}
.course_select_ul{
    width: 91%;
    margin-left: 5%;
    margin-bottom: 10em;
}
.course_select_ul li{
    border: solid 1px #999999;
    border-radius: 3px;
    float: left;
    width: 23%;
    height: 2em;
    margin-right: 2%;
    margin-bottom: 0.8em;
    text-align: center;
    line-height: 1.8em;
    color: #696969;
}
.course_select_ul_active{
    background-color: #b1ddff;
}
.course_select_ul li:last-child{
    margin-right: 0px;
}
.course_save{
    width: 60%;
    height: 2.5em;
}
.course_request_slide{
    position: relative;
    margin-top: 0.8em;
    width: 100%;
    height: 8em;
    background-color: #ffffff;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    border-top: solid 1px #cacaca;
    border-bottom: solid 1px #cacaca;
}
.course_slide{
    margin: 0 auto;
}
.course_slide li{
    width: 25%;
    float: left;
    text-align: center;
}
.course_slide li img{
 width: 60%;
}
.course_slide li p{
    width: 100%;
    color: #737373;
    font-size: 0.8em;
}
.course_slide_tip{
    clear: both;
    width: 10%;
    display: block;
    margin: 0 auto;
    margin-top: 0.7em;

}
.course_slide_tip li{
    width: 40%;
    height: 2px;
    background-color: #cecece;
    margin-left:5%;
    margin-right:5%;
    float: left;
}
.course_request_info{
    position: relative;
    margin-top: 0.8em;
    width: 100%;
    height: 14.3em;
    background-color: #ffffff;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
}
.course_request_info p{
    color: #333333;
    width: 95%;
    margin-left: 5%;
    border-bottom: solid 1px #e8e8e8;
    padding: 1em 0 1em 0;
    position: relative;
}
.course_request_info p b{
    color: #333333;
    font-weight: normal;
}
.course_request_info p span{
    color: #d7d7d7;
    position: absolute;
    right: 1em;
}
.course_request_info p span img{
    position: relative;
    bottom: 0.2em;
    width: 0.7em;
    height: 0.8em;
    margin-left: 0.3em;
}
.course_request_info p:last-child{
    border-bottom:none;
}
.course_request_content{
    margin-top: 0.8em;
    width: 100%;
    height: 14.3em;
    background-color: #ffffff;
    border-top: solid 1px #cacaca;
    border-bottom: solid 1px #cacaca;
    padding-top: 1em;
    padding-bottom: 1em;
}
.course_request_content_input{
    border: solid 1px #e8e8e8;
    height: 2.5em;
    display: inline-block;
    width: 70%;
}
.course_request_content_input input,.course_request_content_text textarea{
    padding-left: 0em !important;
}
.course_request_content_text{
    border: solid 1px #e8e8e8;
    height: 7em;
    position: absolute;
    left: 23%;
    top: 1em;
    width: 75%;
}
.course_request_content_text textarea{
    width: 98%;
    border: none;
    outline: none;
    height: 6.3em;
    padding-left: 0.5em;
}
#course_textarea::-webkit-input-placeholder:after{
    display:block;
    content:"例:课程要求、教师要求、成绩要求";/*  \A 表示换行  */
}
.course_request_content_title p{
    display: inline-block;
    width: 21%;
}
.course_request_content_info p{
    position: absolute;
    left: 0em;
    top: 1em;
    width: 22%;
}
.course_request_content_title{
    width: 95%;
    margin-left: 5%;
    border-bottom: solid 1px #e8e8e8;
    height: 3.5em;
    
}
.course_request_content_info{
    width: 90%;
    position: relative;
    margin-left: 5%;
}
.course_btn_wrap{
    margin-top: 0.8em;
    width: 100%;
    height: 10em;
    background-color: #ffffff;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    border-top: solid 1px #cacaca;
    border-bottom: solid 1px #cacaca;
    margin-bottom: 1em;
}
.course_btn{
    margin-top: 1em !important;
    background:none;
    background-color: #4592ff !important;
}
.course_chip{
    margin-top: 10px;
    font-size: 0.7em;
    width: 90%;
    margin-left: 5%;color: #cacaca;
}
.course_select{
    opacity: 0;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    border: 0;
    height: 100% !important;
}
.course_local_first_select{
    position: absolute;
    left: 0px;
    display: none;
    height: 24em;
    overflow: scroll;
    width: 50%;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;z-index: 100000;
}

.course_local_first_select_li{
    width: 100%;
    height: 3em;
    line-height: 3em;
    padding-left: 2em;
    border-bottom: solid 1px #e8e8e8;
    position: relative;
    z-index: 7600;
}
.course_local_second_select{
    z-index: 9999;
    width: 50%;
    position: absolute;
    top: 3.9em;
    left: 50%;
    max-height: 24em;
    overflow: scroll;
    z-index: 400;
    background-color: #f7f7f7;
}
.course_local_second_select li{
    width: 100%;
    padding-left: 2em;
    height: 3em;
    line-height: 3em;

}
.course_local_second_select_hidden{
    left: 0;
    display: none;
}
.course_local_first_select_active{
    background-color: #ffffff;
    height: 24em;
    display: block;
    top: 3.9em;
}
.business_top_wrap{
    width: 96%;
    margin-left: 2%;
    background-color: #ffffff;
    border: solid 1px #cacaca;
    border-radius: 5px;
    margin-top: 0.8em;
    position: relative;
    height: 13em;
}
.business_img_wrap{
    width: 4em;
    height: 4em;
    position: absolute;
    left: 0.7em;
    top: 0.7em;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
    overflow: hidden;
}
.business_img_wrap img{
    max-width: 100%;
    max-height: 100%;
}
.business_info{
    position: relative;
    width: 14em;
    left: 5.4em;top: 0.7em;
    margin-bottom: 2em;
}
.business_info h3{
    color: #40403f;
}
.business_info p{
    color: #696969;
    font-size: 0.9em;
}
.business_info_p{
    padding-left: 1.5em;
    width: 100%;
    border-top: solid 1px #e8e8e8;
    height: 4.2em;
    line-height: 4.2em;
    font-size: 0.9em;
    color: #696969;
}
.business_info_p img{
    width: 1em;
    margin-right: 0.5em;
}
.business_reply_title{
    color: #696969;
    width: 96%;
    margin-left: 2%;
    margin-top: 1.2em;
    padding-left: 1em;
    font-weight: bold;
}
.business_reply_wrap{
    width: 96%;
    margin-left: 2%;
    background-color: #ffffff;
    border: solid 1px #cacaca;
    border-radius: 5px;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.business_relay_input_wrap{
    width: 94%;
    margin-left: 3%;
    padding-top: 1em;
    position: relative;
}
.business_reply_btn{
    text-align: center;
    width: 24%;
    height: 2.5em;
    background-color: #4498ff;
    color: #ffffff;
    line-height: 2em;
    border: 0px;
    right: 1.5%;
    border-radius: 5px;
    position: absolute;
    top: 1em;
    text-transform: none;
    -webkit-appearance: none;
    outline-style: none;
    text-shadow: none;
    outline: none;
}
.business_reply_input{
    border: solid 1px #e8e8e8;
    height: 2.5em;
    display: inline-block;
    width: 73%;
}
.business_reply_item{
    width: 100%;
    position: relative;
    height: 5.5em;
    overflow: hidden;
}
.business_reply_img{
    width: 3em;
    position: absolute;
    left: 1em;
    border-radius: 5px;
    top: 1em;
}
.business_reply_info{
    position: absolute;
    left: 5em;
    width: 100%;
    padding-right: 5em;
}
.business_reply_info h2{
    margin-top: 1em;
    color: #2463c5;
    font-size: 0.9em;
}
.business_reply_info p{
    font-size: 0.9em;
    width: 95%;
    color: #969696;
    padding-bottom: 1.2em;
    border-bottom:  solid 1px #e8e8e8;
}
.business_reply_item span{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 0.7em;
    color: #b6b6b6;
}
.business_relay_more{
    margin: 0 auto;
    display: block;
    width: 6em;
    margin-top: 0.8em;
    color: #4591ff;
}
.business_set{
    text-align: center;
    width: 100%;
    height: 4em;
    background: -webkit-gradient(linear,left top,left bottom,from(#4491fe),to(#065acc));
    color: #ffffff;
    line-height: 4em;
    border: 0px;
    margin-top: 1em;
    text-transform: none;
    -webkit-appearance: none;
    outline-style: none;
    text-shadow: none;
    outline: none;
}
.course_institution_input_wrap{
    height: 2.5em;
    display: inline-block;
    border: solid 1px #cacaca;
    width: 78%;
    margin-right: 1.5%;
    margin-bottom: 0.8em !important;
}
.course_institution_btn{
    border: solid 1px #cacaca;
    background-color: #ffffff;
    height: 2.7em;
    font-size: 0.9em;
    line-height: 2.2em;
    display: inline-block;
    width: 18.5%;
    border-radius: 5px;
    color: #458eff;
    position: absolute;
    right: 0px;
    top: 1.2em;
}
.course_institution_nav{
    position: relative;
    width: 100%;
    height:4em;
    background-color: #ffffff;
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #cecece;

}
.course_institution_nav_ul{
    width: 100%;
    height: 3em;
}
.course_institution_nav_ul li{
    float: left;
    width: 33%;
    height: 1em;
    font-size: 1.1em;
    margin-top: 1.2em;
    line-height: 1em;
    color: #7d7d7d;
    text-align: center;
}
.course_all_btn{
    border-left: solid 1px #cecece;
    border-right: solid 1px #cecece;
}
.course_institution_item{

    width: 96%;
    margin-left: 2%;
    background-color: #ffffff;
    margin-top: 0.8em;
    border: solid 1px #cacaca;
    border-radius: 5px;
    height: 7em;
    position: relative;
    overflow: hidden;
}
.course_institution_item_img{
    margin-top: 0.9em;
    margin-left: 0.8em;
    width:5em;
    height: 5em;
    border-radius: 3px;
    border: solid 1px #cecece;
}
.course_institution_item_img img{
    max-width: 100%;
    max-height: 100%;
}
.course_institution_item_info{
    position: absolute;
    width: 100%;
    top: 0.5em;
    left: 6.4em;
    padding-right: 7em;
}
.course_institution_item_info h2{
    font-size: 1.3em;
    font-weight: bold;
}
.course_institution_item_info p{
    margin-bottom: 0.2em;
    font-size: 0.9em;
    color: #696969;
}
.course_institution_item_info p img{
    width: 1em;
    position: relative;
    top: -0.2em;
    margin-right: 0.5em;
}
.business_img_search{
    position: absolute;
    left: 0.6em;
    top: 1.6em;
    width: 1.2em;
}
.course_institution_input_wrap input{
    font-size: 0.9em;
    padding-left: 1.5em;
}
.first_select_active{
    background-color: #f7f7f7;
    border-left: solid 0.3em #458eff;
    padding-left:  1.7em!important;
}
.course_sort_select{
    display: none;
    width: 100%;
    position: absolute;
    top: 3.9em;
    height: 15em;
    background-color: #ffffff;
    z-index: 3000;
    border-top: solid 1px #e8e8e8;
}
.course_constitution_select{
    display: none;
    width: 50%;
    position: absolute;
    top: 3.9em;
    max-height: 24em;
    background-color: #ffffff;
    z-index: 3000;
    border-top: solid 1px #e8e8e8;
}
.course_sort_select_active{
    display: block;
}
.course_sort_select li,.course_constitution_select li{
    width: 100%;
    border-bottom: solid 1px #e8e8e8;
    height: 3em;
    padding-left: 2em;
    line-height: 3em;
}

.select_color{
    color:#458eff !important;
}
.course-box{
    display: none;
    width: 100%;
    height: 50em;
    position: absolute;
    top: 8.3em;
    left: 0;
    z-index: 20;
    background-color: #7f7f7f;
    opacity: 0.5;
}
.course-box-active{
    display: block;
}
/*专业兴趣*/
.user_hobby_title{
    margin-top: 0.8em;
    height: 4em;
    font-size: 0.9em;
    line-height: 4em;
    border-top: solid 1px #cacaca;
    border-bottom: solid 1px #cacaca;
    background-color: #ffffff;
    padding-left: 1em;
    color: #c1c1c1;
}
.user_hobby_select{
    padding-left: 0.9em;
    color: #656565;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.user_hobby_group{
    background-color: #fff;
    margin-bottom: 0.8em;
    border-bottom: solid 1px #cacaca;
    border-top: solid 1px #cacaca;
}
.user_hobby_group_p{
    color: #656565;
    padding: 1em 1em;
    border-top: solid 1px #f0f0f0;
}
.user_hobby_group_img{
    width: 1.2em;
    margin-right: 0.9em;
    position: relative;
    top: -0.1em;
}
.user-myInfo-top{
    padding-top: 4em;
    height:15em;
    width: 100%;
    border-bottom: solid 1px #cacaca;
    background: -webkit-linear-gradient(#237fd6, #d5e0eb);
}
.enterprise-myInfo-top{
    height:17.5em !important;
}
.user_my_info_img_wrap{
    height: 5.5em;
    margin: 0 auto;
    width: 5.5em;
    border-radius: 5px;
    position: relative;
    border: solid 1px #a2a2a2;
}
.user_my_info_img_wrap_img{
    border-radius: 5px;
    max-width: 100%;
    min-height: 100%;
}
.user-myInfo-top_p{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    margin-top: 0.7em;
}
.enterprise-myInfo-top_p{
    position: relative;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    margin-top: 0.7em;
}
.user-myInfo-top_p span{
    display: inline-block;
    font-size: 0.6em;
    color: #ffffff;
    text-align: right;
    padding-right: 0.3em;
    height: 1.3em;
    position: relative;
    background-color: #e38b9f;
    width: 2.6em;
    border-radius: 2px;
}
.user-myInfo-top_p span img{
    position: absolute;
    width: 0.9em;
    left: 0.2em;
    top: 0.2em;
}
.user-myInfo-top_p_img{
    width: 1.1em;
    position: relative;
    top: -0.1em;
}
.enterprise-myInfo-top_p_img{
    width: 0.9em;
    position: absolute;
    top: 0.4em;
}
.man_color{
    background-color: deepskyblue !important;
}
.user-myInfo-middle{
    height: 6em;
    border-top: solid 1px #cacaca;
    border-bottom: solid 1px #cacaca;
    background-color: #ffffff;
    margin-top: 0.8em;
}
.user-myInfo-bottom{
    background-color: #fff;
    border-top: solid 1px #cacaca;
    border-bottom: solid 1px #cacaca;
    height: 30em;
    margin-top: 0.8em;
    margin-bottom: 2em;
}
.user-myInfo-bottom-left{
    width: 14%;
    height: 100%;
    float: left;

}
.user-myInfo-middle_trend h2{
    text-align: right;
}
.user-myInfo-middle_trend p{
    text-align: right;
    font-size: 1.7em;
}
.user-myInfo-middle_info_wrap img{
    width: 4em;
    border-radius: 5px;
    height: 4em;
    position: relative;

}
.user-myInfo-middle_info{
    width: 100%;
    left: 4.5em;
    position: absolute;
    top: 0px;
}
.user-myInfo-bottom-right{
    margin-left: 6%;
    position: relative;
    top: 0.75em;
    width: 79%;
    height: 100%;
    float: left;
}
.user-myInfo-bottom-right p{
    color:#4f4f4f;
    position: relative;
    padding-bottom: 0.7em;
    padding-top: 0.8em;
    border-bottom: solid 1px #e8e8e8;
    width: 100%;
}
.user-myInfo-bottom-right p span{
    color: #8d8c8c;
    position: absolute;
    left: -4em;
    width: 3em;
    text-align: right;
    top: 0.8em;
}
.user-myInfo-middle_trend{
    position: relative;
    color: #8d8c8c;
    top: 0.5em;
    width: 14%;
    float: left;
}
.user-myInfo-middle_info_wrap{
    width: 75%;
    margin-left: 6%;
    float: left;
    position: relative;
    overflow: hidden;
    top: 1em;
}
.user-myInfo-middle_info h2{
    color: #595757;
}
.user-myInfo-middle_info p {
    color: #48cd61;
}
.user-myInfo-middle_info img{
    width: 0.8em;
    height: 1.2em;
    position: absolute;
    right: 4.5em;
    top: 1.3em;
}
.user_my_info_img_wrap_V{
    position: absolute;
    width:1em;
    bottom: 0em;
    right: -0.5em;
}
.user_info_editor_top{
    height: 4em;
    line-height: 4em;
    padding-left: 1em;
    color: #999999;
}
.bar_wrap{
    left: 7em;
    width: 12em;
    height: 1.3em;
    top: 1.3em;
    border-radius: 0.6em;
    background-color: #fff;
    border: solid 1px #dadada;
}
.bar_cont{
    left: 0em;
    width: 50%;
    height: 1.3em;
    top: -1px;
    background-color: #43a9ff;
    border-radius: 0.6em;
    border: solid 1px #43a9ff;
    text-align: left;
    color: #ffffff;
    padding-left: 0.5em;
    line-height: 1.3em;
}
.user_info_editor_middle h3{
    color: #999999;
    padding: 1em;
}
.user_info_editor_middle{
    width: 100%;
    height: 26em;
    overflow: hidden;
}
.enterprise_info_editor_middle{
    width: 100%;
    height: 9.5em;
    overflow: hidden;
}
.enterprise_info_editor_middle h3{
    color: #999999;
    padding-left: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
}
.user_info_editor_img_wrap{
    height: 7em;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: solid 1px #e8e8e8;
}
.user_info_editor_img_wrap img{
    width: 5em;
    height: 5em;
    border-radius: 5px;
    position: absolute;
    left: 1em;
    top: 0.2em;
}
.user_info_editor_select{
    position: absolute;
    left: 6.9em;
    width: 100%;
    padding-right: 7em;
    
}
.user_info_editor_select>button{
    margin-top: 0.5em;
    color: #43a9ff;
    background-color: #ffffff;
    outline: none;
    border: solid 1px #cacaca;
    width: 5em;
    border-radius: 5px;
    padding: 0.2em;
}
.user_info_editor_select>p{
    color: #d6d6d6;
    font-size: 0.9em;
    margin-top: 1em;
}
.input-wrap{
    overflow: hidden;
    margin-left: 1em;
    padding-right: 1em;
    height: 3em;
    width: 100%;
    line-height: 3em;
    margin-bottom: 1.5em;
    position: relative;
}
.input-wrap>label{
    color: #8d8c8c;
}
.input-wrap-out{
    width: 80%;
    position: absolute;
    left: 3em;
    top: 0em;
    height: 3em;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    overflow: hidden;
}
.input-wrap-out-text{
    height: 6em;
 
}
.input-wrap-input{
    border: none;
    height: 2.7em;
    margin-top: 0.1em;
    margin-left: 1%;
    width: 99%;
    line-height: 2em;
    padding-left: 0.3em;
}
.user_info_editor_sex{
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #666666;
}
.user_info_editor_sex input{
    margin: 0.8em;
}
.user-info_main_btn{
    height: 4em;
    line-height: 4em;
    padding-left: 1em;
    width: 100%;
    color: #8d8c8c;
}
.input-out-text-wrap{
    height: 6em;
}
.input-wrap-out-text textarea{
    height: 5.9em;
}
.select_chip{
    color: #d7d7d7;
    position: absolute;
    right: 1em;
    top: 1.25em;
}
.select_chip img{
    position: relative;
    top: -0.15em;
    width: 0.5em;
}
.collect-ul{
    border: solid 1px #458eff;
    height: 3em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.collect-ul li{
    text-align: center;
    width: 50%;
    float: left;
    height: 100%;
    line-height: 3em;
}
.collect-ul-active{
    color: #ffffff;
    background-color: #458eff;
}
.course-ul{
    border: solid 1px #458eff;
    height: 3em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.course-ul li{
    text-align: center;
    float: left;
    height: 100%;
    line-height: 3em;
    width: 33.3%;
}
.middle_nav_course{
    border-left: solid 1px #458dff;
    border-right: solid 1px #458dff;
}

.course-wrap{
    height: 6em !important;
    border: none !important;
    margin-top: 0 !important;
}
.enterprise_input_wrap{
    left: 4.5em !important;
    width: 73% !important;
}
.enterprise_feature{
    margin-top: 0 !important;
    margin-bottom: 1em;
    border-top: none;
    border-bottom: solid 1px #e8e8e8;
}
.enterprise_feature_ul_wrap{
    padding-bottom: 0.7em;
    border-bottom: solid 1px #e8e8e8;
}
.enterprise_feature_ul{
    padding-top: 0.8em;
    width: 100%;
}
.enterprise_feature_ul li{
    margin-right: 3%;
    border: solid 1px #a0a0a0;
    color: #a0a0a0;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 0.5em;
    height: 2em;
    line-height: 2em;
    width: 30%;
    float: left;

}
.enterprise_feature_span{
    color: #8d8c8c;
    position: absolute;
    left: -4em;
    width: 3em;
    text-align: right;
    top: 1em;
}


