
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <title>课程动态 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
</head>
<body>
<header id="top_header">
    <div id="header" align="center">
        <h3 class="identify_title">课程动态</h3>
        <!-- <a href="{:U('index/index')}" class="identify_back"><img src="__HIMG__/Return2.png" alt=""/>返回</a> -->
        <a href="{:U('index/index')}" class="identify_back"><img src="__HIMG__/Return2.png" alt=""/>返回</a>
    </div>
</header>
<div class="wrapper">
<!--<img src="__HIMG__/loading.gif" alt="" class="loading hidden"/>-->
    <div class="css-loading hidden">
        <div class="ball-holder">
            <div class="ball"></div>
        </div>
    </div>
            <ul class="course-ul w94 ml3 bdr5">
                <li id="publish" class="collect-ul-active"><span class="require_info hidden">9</span>发布心愿</li>
                <li id="group" class="middle_nav_course"><span class="require_info hidden">9</span>约课课程</li>
                <li id="signup"><span class="require_info hidden">9</span>报名课程</li>
            </ul>
    <div class="nodata_wrap hidden">
        <img src="__HIMG__/nodata.png" alt=""/>
        <p class="nodata_p">没有任何课程</p>
        <p>请添加自己喜欢的课程动态吧</p>
    </div>

            <div class="section">
                <div class="section_items"  id="sectionscroll">
                	
              
                 </div>
            </div>
                <br/>
</div>
<script id="tplpublish" type="text/template">
    {@each info as it,index}

		<div id="groupinfoid${it.id}">
            <div class="section_item clearfix">
                <div class="section_item_box">
                    	<img class="section_item_title_icon" src="__HIMG__/laba.png" alt="">
					<a href="{:U('LookGroup/onedetail')}?gid=${it.id}" style="color:#333333;  margin-left: 1.1em;">
                    	<span class="section_item_title_text" >${it.title}</span>
					</a>
                </div>
                <div class="section_item_other clearfix" style="  position: relative;">

					<div class="get_del_user_id" style="position: absolute;right: 8px; font-size: 12px; top: -2em;color: #F40518;">
  						<img src="__HIMG__/Shape 7.png" alt="" style=" width: 14px;">
						<input type="hidden" class="hidden_del_git" value="${it.id}"/>
						<span  class="section_item_pv_delete_user" style="vertical-align: middle;">删除</span>
					</div>

                    <div class="section_item_other_l">
					<a href="{:U('LookUser/moInfo')}?uid=${it.uid}">
						<img src="${it.avatar}"  onerror="javascript:this.src='__IMGDEFAULT__';" alt="" class="section_item_cont_avator">
					</a>
                        <span style="font-size: small;color: #666565">${it.firstname}${it.lastname}</span>
                    </div>
                    <div class="section_item_other_r"  style="color: #5A5A5A;">
						{@if it.pricearr!=null}
                        	<span class="section_people">${it.pricearr.ltnumber}-${it.pricearr.gtnumber}人</span>
							<span class="l_price">${it.pricearr.ltprice}元</span>
							<span class="h_price">${it.pricearr.reference}元</span>
						{@else}
							<span class="l_price">${it.ltprice}元</span>
						{@/if}
                    </div>
                </div>
            </div>

		</div>
    {@/each}
</script>



<script id="tplgroup" type="text/template">
    {@each info as itt,indext}
    {@each itt as it,index}

            <div class="section_item clearfix">
                <div class="section_item_box">
                    	<img class="section_item_title_icon" src="__HIMG__/laba.png" alt="">
					<a href="{:U('LookGroup/onedetail')}?gid=${it.id}" style="color:#333333;  margin-left: 1.1em;">
                    	<span class="section_item_title_text" >${it.title}</span>
					</a>
                </div>
                <div class="section_item_other clearfix">
                    <div class="section_item_other_l">
					<a href="{:U('LookUser/moInfo')}?uid=${it.uid}">
						<img src="${it.avatar}"  onerror="javascript:this.src='__IMGDEFAULT__';" alt="" class="section_item_cont_avator">
					</a>
                        <span style="font-size: small;color: #666565">${it.firstname}${it.lastname}</span>
                    </div>
                    <div class="section_item_other_r"  style="color: #5A5A5A;">
						{@if it.pricearr!=null}
                        	<span class="section_people">${it.pricearr.ltnumber}-${it.pricearr.gtnumber}人</span>
							<span class="l_price">${it.pricearr.ltprice}元</span>
							<span class="h_price">${it.pricearr.reference}元</span>
						{@else}
							<span class="l_price">${it.ltprice}元</span>
						{@/if}
                    </div>
                </div>
            </div>

   
    {@/each}
    {@/each}
</script>


<script id="tplsignup" type="text/template">
    {@each info as it,index}


        <div class="section_item clearfix">
            <div class="section_item_box">
                	<img class="section_item_title_icon" src="__HIMG__/laba.png" alt="">
            	<a href="{:U('Shopkeeper/cont')}?id=${it.id}" style="  margin-left: 1.1em;">
					<span class="section_item_title_text" style="color:#333333;">${it.title}</span>
				</a>
            </div>
            <div class="section_item_other clearfix">
                <div class="section_item_other_l">
					<a href="{:U('Shopkeeper/info')}?id=${it.sid}">
                    	<img class="section_item_cont_avator" src="__UPLOAD__${it.avatar}" onerror="javascript:this.src='__IMGDEFAULT__';" alt="">
					</a>
                    <span style="font-size: small;color: #666565">${it.nickname}</span>
                </div>
                <div class="section_item_other_r"  style="color: #5A5A5A;">
					${it.price}元
					{@if it.preferent}
						<span> ${it.preferent} </span>
						<img src="__HIMG__/Hui2.png" alt="" />
					{@/if}
				</div>
            </div>
        </div>




    {@/each}
</script>
<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<script type="text/javascript" src="__HJS__/juicer-min.js"></script>
<script type="text/javascript" >
    var postpublish_url = "{:U('User/course')}";
    var postgroup_url ="{:U('User/courseAssist')}";
    var postsiginup_url = "{:U('User/courseShop')}";
    var deletegroup_url = "{:U('User/delGroup')}";
</script>
<script type="text/javascript">
function imgonerror(){
    var imgs = document.images; 
	for(var i = 0;i < imgs.length;i++){ 
	    imgs[i].onerror = function(){ 
	        this.src = "http://<?php echo $_SERVER['SERVER_NAME'] ?>__IMGDEFAULT__"; 
	    } 
	}
}
imgonerror();
</script>
<script type="text/javascript" src="__HJS__/user/course.js"></script>
<include file="Public:statistics"/>
</body>
</html>
