<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>17</title>
</head>
<body>

okokookokookokokokokokoko
<style>
a{
	font-size:40px;
}
</style>
<a href="{:U('User/outlogout',array('zk'=>'out'))}"><i class="icon-off"></i> Logout</a><br/>
 <a href="http://web8088/Home/User/onedetail">用户登录</a><br/>
  <a href="http://web8088/Home/User/moInfo">用户详情</a><br/>
  <a href="http://web8088/Api/User/moInfo">非登录用户详情</a><br/>
  <a href="http://web8088/Home/User/collect">用户收藏</a><br/>
  <a href="http://web8088/Home/User/course">用户动态约课</a><br/>
  <a href="http://web8088/Home/User/news">用户消息</a><br/>
  <a href="http://web8088/Home/UserV/idenc/">用户个人认证</a><br/>
  <a href="http://web8088/Home/User/set">用户设置</a><br/>
  <a href="http://web8088/Home/GroupInfo/onedetail">约课详情</a><br/>

<include file="Public:statistics"/>
</body>

</html>

