
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <title>系统消息 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
</head>
<body>
<header id="top_header">
    <div id="header" align="center">
        <h3 class="identify_title">系统消息</h3>
        <a href="javascript:history.back(-1)" class="identify_back"><img src="__HIMG__/Return2.png" alt=""/>返回</a>
    </div>
</header>

        <div class="wrapper" id="sectionscroll">
        <foreach name="info" item="vo">
            <div class="system_wrap">
                <div class="system_wrap_left">
                    <p class="system_wrap_left_name">17约客:</p>
                    <p class="system_wrap_left_time">{$vo.ctime}</p>
                </div>
                <div class="system_wrap_right">
                    <p class="system_wrap_right_p">{$vo.title}</p>
                </div>
            </div>
        </foreach>    
        </div>
        <br/>

<script id="tplnews" type="text/template">
    {@each info as it,index}
    <div class="system_wrap">
        <div class="system_wrap_left">
            <p class="system_wrap_left_name">17约课:</p>
            <p class="system_wrap_left_time">${it.ctime}</p>
        </div>
        <div class="system_wrap_right">
            <p class="system_wrap_right_p">${it.title}</p>
        </div>
    </div>
    {@/each}
</script>
<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<script type="text/javascript" src="__HJS__/juicer-min.js"></script>
<script type="text/javascript" >
  var url = "{:U('Api/UserSystem/systemList')}";
</script>
<script type="text/javascript" src="__HJS__/user/system_info.js"></script>
<include file="Public:statistics"/>
</body>
</html>
