<extend name="ShopPublic:base" />

<block name="title">17约课-求学意向</block>

<block name="main">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

      <!--课程发布-->

      <include file="ShopPublic:centerNav" />


        <section class="content">
        	<div class="row">
            <div class="ml40 mr20">
          		<h3 class="fs26 mb25">收到的求学意向</h3>
          		<table class="table table-bordered table-txt-center">
          			<thead class="bgeee">
          				<tr>
          					<th class="fs18 fwn">姓名</th>
          					<th class="fs18 fwn">联系方式</th>
          					<th class="fs18 fwn">课程</th>
          					<th class="fs18 fwn">时间</th>
          				</tr>
          			</thead>
                    <!-- 报名用户模板输出位置 -->
          			<tbody id="enrollPanel"> </tbody>
          		</table>

              <!-- 分页栏 -->
              <nav id="paginationPanel" style="text-align:right;">

              </nav>
            </div>
        	</div>				
        </section>

      </div><!-- /.content-wrapper -->


    </div><!-- ./wrapper -->


    <!-- 分页栏使用到的js -->
    <include file="ShopPublic:pagination" />

</block>

<block name="css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    .stu-name{margin: 0 10px;}
    .stu-ava{width: 45px;border: 1px solid #eee;border-radius: 5px;}
    .pagination>.active>a{background-color: #2DA4DE; border-color: #2DA4DE;}
    .mb25{margin-bottom: 25px;}
    .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{border: 1px solid #d9d9d9 !important;}
    </style>
</block>

<block name="js">

    <!-- 报名用户模板 -->
    <script id="enrollTpl" type="text/template" charset="utf-8">
        {@each data as it,i}
        <tr>
            <td>
                <img src="${it.avatar}" alt="头像" class="stu-ava">
                <span class="stu-name fs18">${it.firstname}${it.lastname}</span>
                {# 技能认证}
				{@if it.profession==1}<img src="__HIMG__/Interest.png" alt=""/>
				{@else if it.profession==2}<img src="__HIMG__/Public.png" alt=""/>
				{@else if it.profession==3}<img src="__HIMG__/Gold.png" alt=""/>
				{@else if it.profession==4}<img src="__HIMG__/Culture.png" alt=""/>
				{@else if it.profession==5}<img src="__HIMG__/art.png" alt=""/>
				{@else if it.profession==6}<img src="__HIMG__/Farming.png" alt=""/>
				{@else if it.profession==7}<img src="__HIMG__/France.png" alt=""/>
				{@else if it.profession==8}<img src="__HIMG__/Teach.png" alt=""/>
				{@else if it.profession==9}<img src="__HIMG__/qi.png" alt=""/>
				{@/if}
            </td>
            <td><span class="fs20">${it.phone}</span></td>
            <td><span class="cb6b6b6 fs16">已报名<span class="clightblue">${it.title}</span></span></td>
            <td><span class="cb6b6b6 fs14">${it.ctime}</span></td>
        </tr>
        {@/each}
    </script>


    <!-- AdminLTE App -->
    <script src="__PCJS__/app.min.js" type="text/javascript"></script>
      <script src="__PCJS__/publish.js" type="text/javascript"></script>
      <script type="text/javascript" src="__PUBLIC__/Desktop/webuploader/webuploader.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Desktop/webuploader/upload.js"></script>
    <script type="text/javascript" src="__HJS__/juicer-min.js"></script>

    <!-- 全局变量 -->
    <script type="text/javascript" charset="utf-8">
        var g = {
           "getEnrollsUrl":     "{:U('Api/ShopInfo/getDesktopEnrolls')}"
        };
    </script>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            showEnrolls(1);
        });

        function showEnrolls(page) {
            $.get(g.getEnrollsUrl, {"page": page}, function(data) {
                console.log(data);

                // $(".css-loading").addClass("hidden");

                if (data.status != 200) {
                    // 先处理商家没有登陆的情况
                    // handleNotSignIn(data.msg);

                    // $(window).bind('scroll', pageScroll);
                    alert(data.msg);
                }

                if (data.data == null) {
                    // showCoffee(global.page);
                    alert("暂无数据");
                    return false;
                }

                // 拼接模板了
                var tpl = document.getElementById("enrollTpl").innerHTML;
                var html = juicer(tpl, data);
                $("#enrollPanel").html(html);

                showPagination("paginationPanel", page, data.totalPages, "showEnrolls");

            }, "json")
        }
    </script>


</block>
