
body{
  background-color: #F8F8F8;
  font-family: SimHei,Microsoft YaHei; 
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family:  SimHei,Microsoft YaHei}
.skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #ffffff !important;
}

section.sidebar{
width: 230px;
position: absolute;
top:30px;
background-color: #fff;
padding-bottom: 0;
z-index: 101;
border: 1px solid #eee;
}
hr {
  margin-top: 0px;
  margin-bottom: 00px;
}
.wrapper{
  background-color: #f8f8f8 !important;
}
.skin-blue .sidebar a {
  color: #000000;
}
.show{
  display: block;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
   white-space:inherit!important;
 overflow:inherit; 
}
.skin-blue .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #F5F5F5;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
  background-color: #ffffff;
}
.skin-blue .sidebar-form {
  border: 1px solid #3C8DBC;
}
.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
  color: #0DB7FF;
}
.pull-left{
color: #000000 !important;
}
.pull-left>a{
color: #000000 !important;
}
.skin-blue .main-header .logo {
  background-color: #2DA4DE !important;
}

.logo-lg{
  position: relative;
}
.logo_img{
  position: absolute;
  left: 0;
  top:4px;
  width: 68px;
  height: auto;
}
.logo_txt{
position: absolute;
right: 0;
top:6px;
}
.logo-mini img{
  width: 50px;
  height: auto;
}
.img-square{
  border: 1px solid #ddd;
  border-radius: 5px;
}
.skin-blue .sidebar-form input[type="text"]{
color: #000000 !important;
}
#search-btn i{
color: #8D9EA6;
font-size: large;
}
.sidebar-menu{
  margin-top: 20px;
}

.notifi-title{
  margin-top: 30px;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4{
  margin: 12px 0px 0px 45px !important;
}
.submenu{
  background-color: #ECECEC;
}
.skin-blue .main-header .navbar {
  background-color: #2DA4DE;
}
.skin-blue .main-header .logo {
  background: #2DA4DE;
  height: 51px;
}
.navbar-nav>.user-menu .user-image {
  border-radius: 10%;
}
.content-wrapper {
  width: 1170px;
  margin: 0 auto;
  background-color: #f8f8f8 !important;
  position: relative;
}
.course{
  position: relative;
  height: 239px;
  margin-bottom: 2em;
}
.course-content{
  background-color: #ffffff;
  padding: 10px;
  /* border-bottom: 1px solid rgba(207, 207, 207, 0.44); */
  vertical-align: middle;
  position: relative;
}
.course-content img{
  position: absolute;
  vertical-align: top;
  margin: 3px;
}
.course-content a{
  margin-left: 1.8em;
  letter-spacing: 1px;
  display: inline-block;
  color: #000000;
  height: 40px;
}

.course-content2{
  background-color: #ffffff;
  padding: 15px 8px 15px 10px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.44);
  vertical-align: middle;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.course-content2 img{
  position: absolute;
  vertical-align: top;
  margin: 3px;
}
.course-content2 a{
  margin-left: 1.8em;
  letter-spacing: 1px;
  display: inline-block;
  color: #000000;
  height: 40px;

}

.course-bottom{
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
   padding: 6px 8px 6px 8px;
  border-top:1px solid rgba(207, 207, 207, 0.44); 
  z-index: 90;
}

.course-bottom2{
  position: relative;
  background-color: #FFFFFF;
  padding: 15px 8px 15px 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}
.bottom-left{
  display: inline-block;
  color: #CFCFCF;
  font-size: smaller;
}
.bottom-left>img{
width: 30px;
height:30px;
border-radius: 3px;
}
.bottom-right{
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 10px;
}
.price-now{
  color: #ffa612;
  font-size: 18px;
  font-weight: 400;
}
.price-past{
  text-decoration:line-through;
  color: #CFCFCF;
}
button.publish{
    float: left;
  margin-top: 7px;
  margin-left: 11px;
  padding: 4px 10px 5px 10px;
  background-color: #278BBC;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  -moz-box-shadow: 0px 3px 5px #1c668a;
  box-shadow: 0px 3px 5px #1c668a;
  outline-color: #FFFFFF;
  vertical-align: bottom;
}
button.publish img{
  height: 22px;
  width: auto;
  margin-right: 5px;
}
button.publish input{
  border: none;
  background-color: inherit;
}
.icons-text{
  display: inline-block;
  margin-right: 6px;
  height: 23px;
  width: 18px;
  background: url(../img/publish.png) -44px -0px no-repeat;
}
.icons-honer{
  display: inline-block;
  margin-right: 6px;
  height: 26px;
  width: 20px;
  background: url(../img/publish.png) -0px -0px no-repeat;
}
.icons-book{
  display: inline-block;
  margin-right: 6px;
  height: 20px;
  width: 21px;
  background: url(../img/publish.png) -22px -26px no-repeat;
}

.icons-card{
  display: inline-block;
  margin-right: 6px;
  height: 18px;
  width: 24px;
  background: url(../img/publish.png) -43px -26px no-repeat;
}
.icons-info{
  display: inline-block;
  margin-right: 6px;
  height: 21px;
  width: 22px;
  background: url(../img/publish.png) -0px -26px no-repeat;
}
.icons-setting{
  display: inline-block;
  margin-right: 6px;
  height: 24px;
  width: 24px;
  background: url(../img/publish.png) -20px -0px no-repeat;
}
.icons-time{
  height: 17px;
width: 17px;
  background: url(../img/sp2.png) -0px -37px no-repeat;
}

.icons-msg{
  height: 18px;
width: 18px;
  background: url(../img/sp2.png) -0px -19px no-repeat;
}

.icons-user{
  height: 19px;
 width: 19px;
 background: url(../img/sp2.png) -0px -0px no-repeat;
}
.treeview>a>span {
  display: inline-block;
  vertical-align: top;
  font-size: large;
}
/* common css */
.row-bc{margin: 0 auto;}
.ml40{margin-left: 40px;}.mr20{margin-right: 20px;}
.fwb{font-weight: bold;}.fwn{font-weight: normal;}
.tal{text-align: left;}
.fs12{font-size: 12px;}.fs14{font-size: 14px;}.fs16{font-size: 16px;}.fs18{font-size: 18px;}.fs20{font-size: 20px;}.fs26{font-size: 26px;}.fs30{font-size: 30px;}
.lh1-5{line-height: 1.5;}
.bgeee{background-color: #eee;}.bglightblue{background-color: #2DA4DE;}
.cb6b6b6{color: #b6b6b6;}.clightblue{color: #2DA4DE;}.c666{color: #666;}.c999{color: #999;}
form label.require:before{content: '*';color: red;margin-right: 8px;}

.table-txt-center th, .table-txt-center td{
  text-align: center !important;
  vertical-align: middle !important;
}
.search-wrap{
  position:absolute;
  background-color: #fff;
  width: 390px;
  height: 34px;
  top: 7px;
  left: 260px;
  text-align: middle;
}
.search-type{
    display: inline-block;
  width: 80px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
}
.search-input{
  display: inline-block;
  width: 70%;
  height: 90%;
  vertical-align: middle;
  border: none;
  outline: none;
  text-indent: .5em;
}

.search-wrap.btn-group{
height: 34px;
}

.search-wrap div.btn-group>button{
 border-radius: 0px !important;
 background-color: #fff;
}
.btn-search{
  height: 90%;
  right: 0;
  vertical-align: middle;
  border: none;
  background-color: inherit;
  font-size: large;
  color: #D9D9D9;
}
.caret{
 -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
     -ms-transition: all .25s linear;
      -o-transition: all .25s linear;
         transition: all .25s linear;
}
#setting-menu>li>a{
 vertical-align: top;
}
.main-footer{
  margin-left: 0;
  background-color: #F8F8F8;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #d2d6de;
}
.progress{
display: inline-block;
width: 30em;
border-radius: 10px;
text-align: center;
position: relative;
}
.progress-bar{
background-color:#2da4de;
}
.progress span{
  position: absolute;
  left: 35%;
}
.course_brief{
  background-color: #ffffff;
  height: 0;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.course_brief li{
list-style-type: none;
float: left;
width: 33%;
text-align: center;
}
.course_brief>li>i{
  display: block;
  margin-left: 43%;
}

.course-logo-wrap{
width: 100%;
height: 140px;
overflow: hidden;
position: relative;
}
.logo_model{
  position: absolute; 
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.logo_model:hover{
opacity: 1;
}
.course-logo{
  width: 100%;
}
.navbar-wraper{
  width: 1170px;
  margin: 0 auto;
  height: 51px;
  position: relative;
}
.main-header>.navbar{
  margin-left: 0;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
  color: #fff;
  background: #2DA4DE;
  border-left-color: #3c8dbc;
}
.content {
  width: 910px;
  margin-left: 260px;
  min-height: 140px;
}
.main-sidebar, .left-side{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0px !important;
  min-height: 100%;
  width: 230px;
  height: 100%;
}
.user-panel>.image>img {
  max-width: 60px;
}
.user-panel>.info {
  left: 65px;
}
.user-panel>.info>p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 9px;
}
.user-panel>.info>a {
  font-size: 14px;
}
.head-link{
  display: inline-block;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
}
.head-link>a{
 color: #fff;
}
.head-link>a:hover{
 text-decoration: underline;
}
.h-18{
  font-size:18px; 
}