<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <title>机构注册 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
</head>
<body>
<div class="register_wrap e_first_register first_height">

    <img src="__HIMG__/logo2.png" alt="" class="register_title"/>
    <p class="e_register_second_title">开通商家发布课程服务</p>
    <p class="e_first_register_path"><img src="__HIMG__/1(1).png" alt=""/>填写联系方式
    <div class="e_register_line"></div></p>
    <p class="e_first_register_path"><img src="__HIMG__/2.png" alt=""/>填写公司名称
    <div class="e_register_line"></div></p>
    <p class="e_first_register_path"><img src="__HIMG__/3.png" alt=""/>验证公司邮箱</p>
    <p class="e_first_register_chip">联系电话(请填写真实有效的公司固定电话)</p>
    <div class="input_wrap e_first_phone">
        <input type="text" id="tel_prefix" class="register_input" placeholder="区号">
        <i class="input_close_icon op_0"></i>
    </div>
    <div class="e_second_phone-link">
        -
    </div>
    <div class="input_wrap e_second_phone">
        <input type="text" id="tel" class="register_input" placeholder="号码">
        <i class="input_close_icon op_0"></i>
    </div>
    <div class="input_wrap">
        <input type="text" id="compay_email" class="register_input" placeholder="您真实的公司邮箱">
        <i class="input_close_icon op_0"></i>
    </div>
    <!--出错了就把Hidden去掉就会显示了，有多少个错误就在多少行li-->
    <div id="err_panel" class="u_register_err hidden">
        <ul>
            <li>
            	<img src="__HIMG__/Exclamation.png" alt="" class="register_err_image"/>
            	<span id="err_span"></span>
            </li>
        </ul>
    </div>
    <!---->    
    <button class="register_submit" id="btn"  style="margin-top: 2em;">下一步</button>
    <p style="margin-top: 0.8em;">常见问题:</p>
    <p>问:填写个人邮箱可以么?</p>
    <p>答:不可以。为了保证每个课程的真实性组</p>
    <p class="text_margin">课网严格要求课程方必须提供公司邮箱</p>
    <p class="text_margin">(例如:17约课的公司邮箱后缀是@17yuek</p>
    <p class="text_margin">e.cn)</p>
    <p  style="margin-top: 0.8em;">问:填写家庭固话可以吗?</p>
    <p>答:不可以。为了保证每个课程的真实性组</p>
    <p class="text_margin">课网严格要求课程方必须提供公司官方</p>
    <p class="text_margin">固话(例如:17约课的公司官方固话是</p>
    <p class="text_margin">020-28107517)</p>
    <p  style="margin-top: 0.8em;">问:没有企业邮箱怎么办?</p>
    <p>答:目前主流企业邮箱提供免费产品，您</p>
    <p class="text_margin">可以选择采用的腾讯企业邮箱，网易企</p>
    <p class="text_margin">业邮箱，阿里企业邮箱。在官网上登记</p>
    <p class="text_margin">资料后 ，很快有服务人员联系。</p>
    <br/>
    <p>温馨提示，任何问题请致电：020-28107517</p>
    <p>我们会尽快为您解决</p>
</div>
<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<script type="text/javascript">
    var signUpSetpTwo_url = "{:U('Shopkeeper/signUpSetpTwo')}";
    var validateTelAndCompanyEmail_url = "{:U('Api/Shopkeeper/validateTelAndCompanyEmail')}";
</script>
<script type="text/javascript" src="__HJS__/shopkeeper/signupsetpone.js" charset="utf-8"></script>
<include file="Public:statistics"/>
</body>
</html>

