
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <title>设置 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
</head>
<body>
<header id="top_header">
    <div id="header" align="center">
        <h3 class="identify_title">设置</h3>
        <a href="javascript:history.back(-1)" class="identify_back"><img src="__HIMG__/Return2.png" alt=""/>返回</a>
    </div>
</header>
<div class="wrapper">
            <a href="{:U('Shopkeeper/systemInfo')}">
		    <p class="set_p mt8" style="border-bottom: solid 1px #EEEEEE;">系统消息
			    <if condition="$numUpdatedSysMsg neq 0"><span class="set_red">{$numUpdatedSysMsg}</span></if><img src="__HIMG__/right.png" alt=""/>
		</p>
		</a> <!-- numUpdatedSysMsg --> 
            <a href="{:U('Shopkeeper/feedback')}"><p class="set_p" style="border-top:none;">意见反馈 <img src="__HIMG__/right.png" alt=""/></p></a>
            <a href="{:U('Shopkeeper/resetPw')}"><p class="set_p mt8">密码修改 <img src="__HIMG__/right.png" alt=""/></p></a>
    		<button id="signOutBtn" class="btn constitution_v_end">退出登陆</button>
            <br/>
            <br/>
</div>
<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var g = {
        "signOutUrl":   "{:U('Api/Shopkeeper/signOut')}"
    };

    $(function() {
        // 退出登录
        $("#signOutBtn").click(function() {
            $.post(g.signOutUrl, function(data) {
                location = "{:U('Index/index')}"
            }, "json");
        });

    });
</script>
<include file="Public:statistics"/>
</body>
</html>
