
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <title>申请认证头衔 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
</head>
<body>
<header id="top_header">
    <div id="header" align="center">
        <h3 class="identify_title">申请认证头衔</h3>
        <a href="{:U('UserV/idenc')}" class="identify_back"><img src="__HIMG__/Return2.png" alt=""/>返回</a>
        <a href="{:U('Index/index')}" class="identify_to_index">首页</a>

    </div>
</header>
<div class="wrapper">

            <div class="identify_second_wrap">
                <h3>个人申V条件</h3>
                <p>1、至少有一次发布组团信息</p>
                <p>2、组团总人数达到200人以上</p>
                <p>3、相关的申V资料</p>
            </div>
            <div class="identify_second_wrap">
                <h3>社团申V条件</h3>
                <p>1、校园社团，企业社团相关的组织，出示相关证件说明</p>
            </div>
            <p class="identify_time">审核时间:一天以内</p>
            <div class="bigV_btn_wrap">
                <a href="{:U('UserV/perIden')}" class="bigV-btn_first">个人申V</a>
                <a href="{:U('UserV/stIden')}" class="bigV-btn_second">社团申V</a>
            </div>

</div>

<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<include file="Public:statistics"/>
</body>
</html>