           <div class="guang_guang">
                <div class="guang_guang">
                    <a href="{$ad.url}" class="adhref"><img src="__HIMG__/guang.jpg" alt="{$ad.name}" id="adimg"/></a>
                </div>
            </div>
           <div class="guang_guang">
               <div class="guang_guang" style="background:url("__HIMG__/guang.jpg");">

               </div>
           </div>

            <script type="text/javascript">
    //获取当期用户的IP地址

    (function(){
 
alert(dsa);
        
    })()
</script>
