
    		<div class="footer-l">
	    		<ul class="clearfix">
    			<li><a href="{:U('Pc/popularize')}">推广服务</a></li>
    			<li><a href="{:U('Pc/contact')}">联系我们</a></li>
    			<li><a href="{:U('Pc/join')}">加入我们</a></li>
    			<li><a href="{:U('Pc/problem')}">常见问题</a></li>
	    		</ul>
	    		<p>版权所有&copy;广州乐莘网络科技有限公司 粤ICP备：14082321号</p>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255242297'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255242297%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    		</div>
    		<div class="footer-r">
    			<p class="contact-t"><span>24小时</span>咨询服务热线</p>
    			<p class="contact-p">020-28107517</p>
    		</div>
