
	<div id="login-box" class="login-wrap none">
		<img src="__PCIMG__/l_logo.png" alt="logo" class="l-logo">
		<img id="l-close-btn" src="__PCIMG__/l_close.png" alt="关闭" class="l-close">
		<div class="form-wrap">
			<div id="one-input-wrap" class="l-input-wrap l-user">
				<img src="__PCIMG__/l_user.png" alt="用户" class="l-left-icon">
				<input id="one-input" type="text" placeholder="手机号码/邮箱" class="l-input mleft42px width75">
				<img id="l-u-clr" src="__PCIMG__/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
			<div  id="two-input-wrap" class="l-input-wrap">
				<img src="__PCIMG__/l_password.png" alt="密码" class="l-left-icon">
				<input id="two-input" type="password" placeholder="密码" class="l-input mleft42px">
				<img id="l-p-clr" src="__PCIMG__/l_i_close.png" alt="清空" class="l-right-icon  op-0">
			</div>
		</div>
		<div id="option-wrap" class="l-option">
			<input id="remenber-me" type="checkbox" checked="checked">
			<label for="remenber-me">记住我</label>
			<span class="l-forget-pass"><a id="forget-pass" href="javascript:void(0);">忘记密码？</a></span>
		</div>
		<ul id="info-wrap" class="l-info none"></ul>
		<button id="l-one-btn" class="shining-btn">机构登陆</button>
		<button id="l-two-btn" class="plain-btn">机构注册</button>
	</div>
	<!-- register first step -->
	<div id="reg-one-box" class="login-wrap none">
		<img src="/Public/Desktop/img/l_logo.png" alt="logo" class="l-logo">
		<img id="ro-close-btn" src="/Public/Desktop/img/l_close.png" alt="关闭" class="l-close">
		<div class="form-wrap">
			<div class="l-input-wrap l-user">
				<input id="ro-one-input" type="text" placeholder="请输入手机号码/邮箱" class="l-input mleft16px width55">
				<img id="ro-u-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
				<button id="code-btn" class="code-btn">获取验证码</button>
			</div>
			<div class="l-input-wrap">
				<input id="ro-two-input" type="password" placeholder="请输入验证码" class="l-input mleft16px width85">
				<img id="ro-c-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
		</div>
		<div class="l-option">
			<input id="ro-agree" type="checkbox" checked="checked">
			<label for="ro-agree">同意<a href="#" style="color:white">17约课商家使用条款</a></label>
		</div>
		<ul id="ro-info-wrap" class="l-info none"></ul>
		<button id="ro-one-btn" class="shining-btn">下一步</button>
		<button id="ro-two-btn" class="plain-btn">返回登录</button>
	</div>
	<!-- register second step -->
	<div id="reg-two-box" class="login-wrap none">
		<img src="/Public/Desktop/img/l_logo.png" alt="logo" class="l-logo">
		<img id="rt-close-btn" src="/Public/Desktop/img/l_close.png" alt="关闭" class="l-close">
		<div class="form-wrap">
			<div class="l-input-wrap l-user">
				<input id="rt-one-input" type="text" placeholder="请输入机构全称" class="l-input mleft16px width85">
				<img id="rt-u-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
			<div class="l-input-wrap l-user">
				<input id="rt-two-input" type="password" placeholder="请输入密码" class="l-input mleft16px width85">
				<img id="rt-p-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
			<div class="l-input-wrap">
				<input id="rt-three-input" type="password" placeholder="请重新输入密码" class="l-input mleft16px width85">
				<img id="rt-r-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
		</div>
		<div class="l-option">
			<input id="rt-agree" type="checkbox" checked="checked">
			<label for="rt-agree">同意<a href="#" style="color:white">17约课商家使用条款</a></label>
		</div>
		<ul id="rt-info-wrap" class="l-info none"></ul>
		<button id="rt-one-btn" class="shining-btn">下一步</button>
		<button id="rt-two-btn" class="plain-btn">返回登录</button>
	</div>
	<!-- forget password first step -->
	<div id="forget-one-box" class="login-wrap none">
		<img src="/Public/Desktop/img/l_logo.png" alt="logo" class="l-logo">
		<img id="fo-close-btn" src="/Public/Desktop/img/l_close.png" alt="关闭" class="l-close">
		<div class="form-wrap">
			<div class="l-input-wrap">
				<input id="fo-one-input" type="text" placeholder="请输入注册时的手机号码或邮箱" class="l-input mleft16px width85">
				<img id="fo-u-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
		</div>
		<ul id="fo-info-wrap" class="l-info none"></ul>
		<button id="fo-one-btn" class="shining-btn">发送验证码</button>
		<button id="fo-two-btn" class="plain-btn">返回登录</button>
	</div>
	<!-- forget password second step -->
	<div id="forget-two-box" class="login-wrap none">
		<img src="/Public/Desktop/img/l_logo.png" alt="logo" class="l-logo">
		<img id="ft-close-btn" src="/Public/Desktop/img/l_close.png" alt="关闭" class="l-close">
		<div class="form-wrap">
			<div class="l-input-wrap l-user">
				<input id="ft-one-input" type="text" placeholder="请输入验证码" class="l-input mleft16px width85">
				<img id="ft-c-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
			<div class="l-input-wrap l-user">
				<input id="ft-two-input" type="password" placeholder="请输入新密码" class="l-input mleft16px width85">
				<img id="ft-p-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
			<div class="l-input-wrap">
				<input id="ft-three-input" type="password" placeholder="请重新输入新密码" class="l-input mleft16px width85">
				<img id="ft-r-clr" src="/Public/Desktop/img/l_i_close.png" alt="清空" class="l-right-icon op-0">
			</div>
		</div>
		<ul id="ft-info-wrap" class="l-info none"></ul>
		<button id="ft-one-btn" class="shining-btn">重置密码</button>
		<button id="ft-two-btn" class="plain-btn">返回登录</button>
	</div>