
	<!-- navigator -->
	<div class="nav">
		<div class="nav-wrap clearfix">
			<a href="{:U('Pc/index')}"><img class="nav-logo" src="__PCIMG__/new_logo.png" alt="17约课"></a>
			<ul id="nav-menu" class="nav-menu">
				<li><a id="s-login-btn" href="javascript:void(0);">机构登陆</a></li>
				
    			<li><a href="{:U('Pc/popularize')}">推广服务</a></li>
    			<li><a href="{:U('Pc/contact')}">联系我们</a></li>
    			<li><a href="{:U('Pc/join')}">加入我们</a></li>
    			<li><a href="{:U('Pc/problem')}">常见问题</a></li>
			</ul>
		</div>
	</div>

<!-- 全局变量 -->
<script type="text/javascript" charset="utf-8">
    var index_url  ="{:U('Index/index')}";
    var register_send_url ="{:U('Api/Shopkeeper/register_send')}";
    var register_check_url ="{:U('Home/Userregsign/register_check')}";
    var register_save_url ="{:U('Api/Shopkeeper/register_save')}";
    var handleForgetPassword_url = "{:U('Api/Shopkeeper/handleForgetPassword')}";
    var ResetPassword_url = "{:U('Shopkeeper/ResetPassword')}";
    var signin_url = "{:U('Shopkeeper/signin')}";
    var handleResetPasswd_url = "{:U('api/Shopkeeper/handleResetPasswd')}";
</script>
