
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <title>价格参考 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
</head>
<body>
<header id="top_header">
    <div id="header" align="center">
        <h3 class="identify_title">价格参考</h3>
        <a href="{:U('Index/Index')}" class="identify_back"><img src="__HIMG__/Return2.png" alt=""/>返回</a>
        <a href="{:U('Userregsign/login')}" class="index-login">登陆</a>

    </div>
</header>
<div class="wrapper">
        <div class="consult_wrap">
            <div class="consult_wrap_item">
                <p class="consult_item_p "><i class="sprite-consult sprite-consult-3"></i>外语<i class="sprite-consult sprite-consult-1"></i></p>
                <div class="consult_detail hidden">
                    英语<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>考研</td>
                        <td>1530</td>
                        <td>900</td>
                    </tr>
                    <tr>
                        <td>四级</td>
                        <td>678</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>六级</td>
                        <td>687</td>
                        <td>480</td>
                    </tr>
                    <tr>
                        <td>托福</td>
                        <td>4680</td>
                        <td>2680</td>
                    </tr>
                    <tr>
                        <td>雅思</td>
                        <td>3980</td>
                        <td>2580</td>
                    </tr>
                    <tr>
                        <td>GRE（强化班）</td>
                        <td>5280</td>
                        <td>3380</td>
                    </tr>
                    <tr>
                        <td>GMAT（强化班）</td>
                        <td>5680</td>
                        <td>3980</td>
                    </tr>
                    <tr>
                        <td>SAT（强化班）</td>
                        <td>5900</td>
                        <td>3980</td>
                    </tr>
                    <tr>
                        <td>ACT（强化班）</td>
                        <td>5880</td>
                        <td>3800</td>
                    </tr>
                    </tbody>
                </table>
                <div class="consult_detail hidden">小语种<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>韩语（初级）</td>
                        <td>2000</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>日语（初级）</td>
                        <td>1850</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>俄语（初级）</td>
                        <td>2200</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>法语（初级）</td>
                        <td>2000</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>德语（初级）</td>
                        <td>2000</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>意大利语（初级）</td>
                        <td>2200</td>
                        <td>1400</td>
                    </tr>
                    <tr>
                        <td>西班牙语（初级）</td>
                        <td>2000</td>
                        <td>1300</td>
                    </tr>
                    <tr>
                        <td>葡萄牙语（初级）</td>
                        <td>2200</td>
                        <td>1400</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="consult_wrap_item">
                <p class="consult_item_p"><i class="sprite-consult sprite-consult-4"></i>音乐<i class="sprite-consult sprite-consult-1"></i></p>
                <div class="consult_detail hidden">器乐<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>吉他</td>
                        <td>70/节</td>
                        <td>50/节</td>
                    </tr>
                    <tr>
                        <td>尤克里里</td>
                        <td>70/节</td>
                        <td>60/节</td>
                    </tr>
                    <tr>
                        <td>钢琴</td>
                        <td>80/节</td>
                        <td>70/节</td>
                    </tr>
                    <tr>
                        <td>小提琴</td>
                        <td>100/节</td>
                        <td>80/节</td>
                    </tr>
                    <tr>
                        <td>电子琴</td>
                        <td>80/节</td>
                        <td>70/节</td>
                    </tr>
                    <tr>
                        <td>古筝</td>
                        <td>90/节</td>
                        <td>80/节</td>
                    </tr>
                    <tr>
                        <td>声乐</td>
                        <td>100/节</td>
                        <td>80/节</td>
                    </tr>
                    <tr>
                        <td>电吉他</td>
                        <td>100/节</td>
                        <td>70/节</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="consult_wrap_item">
                <p class="consult_item_p"><i class="sprite-consult sprite-consult-5"></i>驾校<i class="sprite-consult sprite-consult-1"></i></p>
                <div class="consult_detail hidden">驾校<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>快速班(3月拿证)</td>
                        <td>9000</td>
                        <td>8000</td>
                    </tr>
                    <tr>
                        <td>普通班</td>
                        <td>6000</td>
                        <td>5300</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="consult_wrap_item">
                <p class="consult_item_p"><i class="sprite-consult sprite-consult-6"></i>设计<i class="sprite-consult sprite-consult-1"></i></p>
                <div class="consult_detail hidden">平面设计<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>学习一个软件</td>
                        <td>1200</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>综合班</td>
                        <td>3500</td>
                        <td>2500</td>
                    </tr>
                    <tr>
                        <td>精英班</td>
                        <td>5000</td>
                        <td>3500</td>
                    </tr>
                    </tbody>
                </table>
                <div class="consult_detail hidden">室内设计<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>学习一个软件</td>
                        <td>1200</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>综合班</td>
                        <td>3500</td>
                        <td>2500</td>
                    </tr>
                    <tr>
                        <td>精英班</td>
                        <td>5000</td>
                        <td>3500</td>
                    </tr>
                    </tbody>
                </table>
                <div class="consult_detail hidden">手绘设计<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>基础班</td>
                        <td>2500</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>快题考研班</td>
                        <td>3500</td>
                        <td>2500</td>
                    </tr>
                    </tbody>
                </table>

                <div class="consult_detail hidden">游戏动画设计<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>短期班</td>
                        <td>5000</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>长期班</td>
                        <td>20000</td>
                        <td>10000</td>
                    </tr>
                    </tbody>
                </table>

                <div class="consult_detail hidden">摄影<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>摄影</td>
                        <td>3000</td>
                        <td>2000</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="consult_wrap_item">
                <p class="consult_item_p"><i class="sprite-consult sprite-consult-7"></i>体育<i class="sprite-consult sprite-consult-1"></i></p>
                <div class="consult_detail hidden">跆拳道<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>跆拳道</td>
                        <td>1000</td>
                        <td>500</td>
                    </tr>

                    </tbody>
                </table>
                <div class="consult_detail hidden">健身<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>健身</td>
                        <td>2000</td>
                        <td>1000</td>
                    </tr>

                    </tbody>
                </table>
                <div class="consult_detail hidden">舞蹈<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>瑜伽</td>
                        <td>2500</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>钢管舞</td>
                        <td>2000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>拉丁舞</td>
                        <td>2000</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>30次卡</td>
                        <td>750</td>
                        <td>480</td>
                    </tr>
                    <tr>
                        <td>半年卡</td>
                        <td>880</td>
                        <td>680</td>
                    </tr>
                    <tr>
                        <td>一年卡</td>
                        <td>1180</td>
                        <td>980</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="consult_wrap_item">
                <p class="consult_item_p"><i class="sprite-consult sprite-consult-8"></i>职业考证<i class="sprite-consult sprite-consult-1"></i></p>
                <div class="consult_detail hidden">职业考证<i class="sprite-consult sprite-consult-1"></i>
                </div>
                <table class="consult_table hidden">
                    <thead>
                    <tr>
                        <th width="50%" align="left">课程种类</th>
                        <th width="25%">最高价格</th>
                        <th width="25%">最低价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>会计从业资格证</td>
                        <td>1200</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>证券从业资格证</td>
                        <td>1200</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>银行从业资格证</td>
                        <td>1500</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>理财规划师</td>
                        <td>2100</td>
                        <td>900</td>
                    </tr>
                    <tr>
                        <td>特许金融分析师</td>
                        <td>20000</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>注册会计师</td>
                        <td>2200</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>教师资格证</td>
                        <td>3600</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>公共营养师</td>
                        <td>3000</td>
                        <td>2500</td>
                    </tr>
                    <tr>
                        <td>期贷从业资格证</td>
                        <td>1600</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>人力资源证</td>
                        <td>3000</td>
                        <td>1000</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
</div>

<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<script type="text/javascript">
    $(".consult_wrap_item").tap(function (e) {
        var item_first =  $(e.currentTarget);
        var item_first_child = item_first.find(".consult_detail");
        if($(item_first_child[0]).hasClass("hidden")){
            item_first_child.removeClass("hidden");
            item_first.find(".sprite-consult-1").addClass("sprite-consult-2");

        }
        else{
            if($(e.target).hasClass("consult_item_p")){
                item_first.find(".consult_detail").addClass("hidden");
                item_first.find(".consult_table").addClass("hidden");
                item_first.find(".sprite-consult-1").removeClass("sprite-consult-2");


            }

        }

    });

    $(".consult_detail").tap(function (e) {
        var item_second =  $(e.currentTarget);
        item_second.next().toggleClass("hidden");
        item_second.find(".sprite-consult-1").first().toggleClass("sprite-consult-2");

    });
</script>

</body>
</html>