
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection"content="telphone=no"/>
    <title>机构培训 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />
    <style type="text/css">
        .course_institution_nav_img{
            display: inline-block;
            position: relative;
            left: 0.3em;;
            top: -0.15em;;
            background-image: url(__HIMG__/icon2.png);
            width: 0.8em;
            height: 0.45em;
            background-size: 0.8em;;
        }
        .course_institution_nav_img_active{
            background-image: url(__HIMG__/icon1.png) !important;
        }
        .over_hidden{
            overflow: hidden;
        }
    </style>
</head>
<body>
<img src="__HIMG__/loading.gif" alt="" class="loading hidden"/>
<header id="top_header">
    <div id="header" align="center">
        <h3 class="identify_title">选择培训机构</h3>
        <a href="{:U('GroupInfo/Release')}" class="identify_back"><img src="__HIMG__/Return2.png" alt=""/>发布心愿</a>
    </div>
</header>
<div class="wrapper"  style="margin-top: 3.8em;">
    <!--loadding图标-->
    <img src="__HIMG__/loading.gif" alt="" class="loading hidden"/>

    <div class="course-box">
    </div>
    <div class="business_relay_input_wrap">
        <div class="input_wrap course_institution_input_wrap">

            <input type="text" class="register_input" placeholder="请搜索培训机构名称，分类" style="padding-left: 20px">
        </div>
        <button class="course_institution_btn">搜索</button>
        <img src="__HIMG__/Search for.png" alt="" class="business_img_search"/>
    </div>
    <div class="course_institution_nav">
        <ul class="course_institution_nav_ul">
            <li id="course_constitution"><span alt="jhk">选择分类</span><div class="course_institution_nav_img" id="constitution-img"></div></li>
            <li class="course_all_btn" id="course_local"><span>默认地区</span><div class="course_institution_nav_img" id="local-img"></div></li>
            <li class="course_sort_btn" id="course_sort"><span>默认排序</span><div class="course_institution_nav_img" id="sort-img"></div></li>
        </ul>
        <ul class="course_constitution_select course_constitution_select_first"  id="cate">
        </ul>

        <ul class="course_constitution_select_second select_hidden">
            <li class="course_constitution_select_second_li">华洲街道</li>
            <li class="course_constitution_select_second_li">华洲街道</li>
            <li class="course_constitution_select_second_li">华洲街道</li>
            <li class="course_constitution_select_second_li">华洲街道</li>
            <li class="course_constitution_select_second_li">华洲街道</li>
        </ul>

        <ul class="course_sort_select">
            <li class="course_sort_select_li first_select_active" id="sort" alt="sort">默认排序</li>
            <li class="course_sort_select_li" id="nearby" alt="nearby">离我最近</li>
            <li class="course_sort_select_li" id="greet" alt="greet">最受欢迎</li>
        </ul>
        <!--地区选择第一阶段-->
        <ul class="course_local_first_select" id="area">
        </ul>
        <!--地区选择第二阶段-->
        <ul class="course_local_second_select course_local_second_select_hidden" id="secondArea">
        </ul>
        <!---->
    </div>

    <div id="shopkeeper">
    </div>
    <div class="search_nofound visualization">
        <p class="search_nofound_p">抱歉亲，没有搜索到合适的机构</p>
        <p class="search_add">请添加机构 <a href="{:U('GroupInfo/addwish')}">添加机构</a></p>
    </div>

    <button class="enterprise_cont_submit resbut hidden"  id="resbut">加载更多<img src="__HIMG__/right.png" alt=""/></button>
</div>

<!--培训类似模板-->
<script id="catename" type="text/template">
    {@each info as it,index}
    <li class="course_constitution_select_li"  alt="${it.id}">${it.catename}</li>
    {@/each}
</script>

<!--商家信息模板-->
<script id="shopinfo" type="text/template">
    {@each info as it,index}
    <div class="course_institution_item" alt="${it.sid}">
        <div class="course_institution_item_img">
            <img src="__UPLOAD__${it.avatar}" alt=""/>
        </div>
        <div class="course_institution_item_info">
            <h2>${it.nickname}</h2><p><img src="__HIMG__/phone.png" alt=""/>{@if it.login_phone==''}暂无{@else}${it.login_phone}{@/if}</p>
            <p><img src="__HIMG__/Location2.png" alt=""/>{@if it.area_detail==''}暂无{@else}${it.area_detail}{@/if}</p>
        </div>
    </div>

    {@/each}
</script>

<!--第二次选择地区模板-->
<script id="second" type="text/template">
    {@each list as it,index}
    <li class="course_local_first_select_li" alt="${it.id}">${it.areaname}</li>
    {@/each}
</script>

<!--第一次地区模板-->
<script id="one" type="text/template">
    <li class="course_local_first_select_li  first_select_active" alt="0">全部地区</li>
    {@each list as it,index}
    <li class="course_local_first_select_li" alt="${it.id}">${it.areaname}</li>
    {@/each}
</script>
<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<script type="text/javascript" src="__HJS__/swipe.js"></script>
<script type="text/javascript" src="__HJS__/juicer-min.js"></script>
<script type="text/javascript" src="__HJS__/organize_test.js"></script>
<include file="Component:alert" />
<script type="text/javascript">
    var areaUrl="{:U('Api/Area/getArea')}";
    var secondUrl="{:U('Api/Area/getSecondArea')}";
    var areasUrl="{:U('Api/GroupInfo/getGroupInfo')}";
    var cateUrl="{:U('Api/GroupInfo/getCategory')}";
    var searchUrl="{:U('Api/GroupInfo/getSearch')}";
    var busUrl="{:U('GroupInfo/business')}";
    var busajaxUrl="{:U('Api/GroupInfo/getBusiness')}";
</script>

</body>
</html>
