<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <title>机构入驻 - 17约课</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/reset.css">
    <link rel="stylesheet" href="__HCSS__/4.css"/>
    <link rel="stylesheet" href="__HCSS__/2.css"/>
    <meta name="keywords" content="17约课,一起约课,约课,教育培训,约课神器,校园约课,大学生培训,约老师,约女神,驾驶培训,设计培训,职业考证,音乐培训,英语培训,小语种培训,体育培训" />
    <meta name="description" content="17约课 - 约您身边的良师益友！为您提供约老师，约课程，约女神，约学霸等海量信息，充分满足您免费约课，免费发布课程的需求。" />

</head>
<body>
<div class="register_wrap" style="height: 53em; margin-bottom: 0">
    <img src="__HIMG__/logo2.png" alt="" class="register_title"/>
    <a href="javascript:history.back(-1)"><p class="shop_second_back"><img src="__HIMG__/Return.png" alt=""/>返回</p></a>



    <div class="input_wrap validate">
     <input type="text" id="phone_email"  class="register_input register_input_login"  placeholder="手机号码/邮箱">
        <i class="input_close_icon op_0"></i>
        <div class="validate_wrap">
          <input type="password" name="password" id="password"   class="register_input register_input_login" placeholder="密码">
            <i class="input_close_icon_second op_0" ></i>
        </div>
        <input type="text" name="type" id="hiddentype" class="register_input hidden">
    </div>
    <div class="input_wrap u_yan">
        <input type="text" name="verify" id="verifytext"  class="register_input" placeholder="验证码">
        <i class="input_close_icon op_0"></i>
    </div>
    <img src="{:U('Userregsign/verify')}"  id="verify" onclick="document.getElementById('verify').src='/Home/Userregsign/verify.html?q='+Math.random()" alt="" class="u_yan_img"/>
    <a href="javascript:;" onclick="document.getElementById('verify').src='/Home/Userregsign/verify.html?q='+Math.random()" class="u_change_yan">看不清，换一张</a>
    <!--出错了就把Hidden去掉就会显示了，有多少个错误就在多少行li-->
    <div id="err_panel" class="u_register_err hidden" style="margin-top: 2em;">
        <ul>
            <li>
                <img src="__HIMG__/Exclamation.png" alt="" class="register_err_image"/>
                <span id="err_span"></span>
            </li>
        </ul>
    </div>
    <!---->
    <button class="register_submit" id="btn"  style="margin-top: 2em;">下一步</button>
    <br/>
</div>
<script type="text/javascript" src="__HJS__/zepto.min.js"></script>
<script type="text/javascript">

    var validateLoginAndPassword_url =  "{:U('Api/Shopkeeper/validateLoginAndPassword')}";
    var signUpSetpOne_url = "{:U('Shopkeeper/signUpSetpOne')}";

</script>
<script type="text/javascript" src="__HJS__/shopkeeper/signupstart.js" charset="utf-8"></script>
</body>
</html>
