<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>{$meta_title}|C+商业系统</title>
		<link href="__BOOTSTRAP__/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="__CSS__/swiper-3.3.1.min.css" /><!--手机端轮播css-->
		<link href="__BOOTSTRAP__/css/fonts.css" rel="stylesheet"> <!--框架图标-->
		<link href="__CSS__/common.css" rel="stylesheet">	<!--公共样式-->
		<link href="__CSS__/css.css" rel="stylesheet">	<!--整体样式-->

		<script src="__STATIC__/jquery-2.0.3.min.js"></script>
		<script src="__BOOTSTRAP__/js/bootstrap.js"></script>
		<script src="__JS__/swiper.min.js"></script><!--手机端轮播-->
		<script src="__JS__/html_size.js"></script>
		<block name="style"></block>
	</head>

	<body class="bg-color-f0f">
		<div class="min-test" id="page">
			<div class="overlay"></div>
			
	
			<empty name="app">
				<block name='header'>
					<header class="header-wrap text_white fix bf100 line45">
						<div class="row mg0">
							<div class="col-xs-2 text-left">
								<a class='returnBack'>
									<img src="__IMG__/prev.png" alt="" class="" width="11"/>
								</a>
							</div>
							<div class="col-xs-8 text-center fs18">{$meta_title}</div>
							<!-- <div class="col-xs-2 text-right pl0">
								<a href="">
									<img src="__IMG__/share-icon-white.png" alt="" width="18">
								</a>
							</div> -->
						</div>
					</header>
				</block>
			</empty>
			<!--content S-->
			<block name="content"> </block>
			<block name='footer'>
				<footer class="bf100 fix b0 box-shadow-black bg-f8f tang-details-footer">
					<div class="row mg0">
						<div class="col-xs-6 text-center pd0 mt5 mb5 ">
							<a href="{:U('Class/index')}">
								<div class="icon-24 tang-foot-sy-icon" style="margin-right: 0"></div><br>
								首页
							</a>
						</div>
						<div class="col-xs-6 text-center pd0 mt5 mb5 active">
							<a href="{:U('User/userClass')}">
								<div class="icon-24 tang-foot-qd-icon" style="margin-right: 0"></div><br>
								我的班级
							</a>
						</div>
					</div>
				</footer>
			</block>
		</div>

	</body>
	<script>
		$('.returnBack').click(function(){
			window.history.back(-1);
		});
	</script>
	<block name="script"></block>
</html>